<!DOCTYPE html>
<html lang="en">

 	<head>
 		<!-- Meta Tags -->
		<meta charset="UTF-8">
		<meta name="author" content="Kamran Mubarik">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Title -->
 		<title>E-Commerce Online Shop</title>
 		<!-- Style Sheet -->
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
		<!-- Javascript -->	
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
  		<script>
  			$(document).ready(function(){
  				
  				$('input[type="radio"]').change(function(){
  					
  					if (this.value == 'easypaisa') {
  						
  						$('#easypaisaText').css('display', 'block');
  					} 
  					else {
  						$('#easypaisaText').css('display', 'none');
  					}
  					
  				});
  			});
  		</script>
 	</head>
<body>
	<!--header section start-->
	{% extends 'base.html' %}

	<!-- header -->
	
	{% block content %}
		
	
		

	<div class="container">
		<main>
			<div class="breadcrumb">
				<ul>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li> / </li>
					<li><a href="{% url 'shop' %}">Shop</a></li>
					<li> / </li>
					<li><a href="{% url 'cartview' %}">Cart</a></li>
					<li> / </li>
					<li>Checkout</li>
				</ul>
			</div> <!-- End of Breadcrumb-->

			<h2>Billing Detail</h2>
			<div class="checkout-page">
				<div class="billing-detail">					
					<form class="checkout-form" method="POST">
						{% csrf_token %}
						<h4>Shipping Detail</h4>
						<div class="form-inline">
							<div class="form-group">
								<label>First Name</label>
								<input type="text" id="fname" name="fname" required="">
							</div>
							<div class="form-group">
								<label>Last Name</label>
								<input type="text" id="lname" name="lname" required="">
							</div>
						</div>
						<div class="form-group">
							<label>email</label>
							<input type="text" id="cname" name="email"  value="{{email}}"required="">
						</div>
						<div class="form-inline">
							<div class="form-group">
								<label>Country</label>
								<select id="country" name="country" required="">
									<option>---Select a Country---</option>
									<option value="Nepal">Nepal</option>
								</select>
							</div>
							<div class="form-group">
								<label>City</label>
								<select id="cityy" name="city" required="">
									<option>---Select a City---</option>
									<option value="Kathmandu"> Kathmandu</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label>Address</label>
							<textarea style="resize:none" id="address" name="address" rows="3" required=""></textarea>
						</div>
						<h4>Login Detail</h4>
						<div class="form-inline">					
							<div class="form-group">
								<label>Email</label>
								<input type="email" id="email" name="lemail" value="{{ email }}" autocomplete="off" required="">
							</div>
							
						</div>
						<h4>Contact Detail</h4>
						<div class="form-inline">					
							<div class="form-group">
								<label>Tel</label>
								<input type="number" id="tel" name="tel" minlength="11" maxlength="11" required="">
							</div>
							<div class="form-group">
								<label>Mobile</label>
								<input type="number" id="mobile" name="mobile" minlength="11" maxlength="11" required="">
							</div>
						</div>
						<h4>Additional Information (Optional)</h4>
						<div class="form-group">
							<label>Order Note</label>
							<textarea style="resize:none" id="address" name="ordernote" rows="3"></textarea>
						</div>					
				</div>
				<div class="order-summary">
					<div class="checkout-total">
						<h3>Order Summary</h3>
						<ul>
							<li>Cart Amount: <span>{{item_price}}</span></li>
							<li>Delivery Charges: <span>100</span></li>
							<li>Less: Discount @ 13%: <span>{{discount_amount}}</span></li>
							<hr>
							<li>Total Amount: <span>{{final_price}}</span></li>
							<hr>
							<li><input type="radio" name="payment" value="cash"> Cash on Delivery</li>
							<li><input type="radio"  name="payment" value="esewa"> Esewa Payment </li>
							<li><input type="radio" name="payment" value="banktransfer"> Bank Transferred</li>
							<hr>
							<li><input type="submit" ></li>
						</ul>
					</div>
					</form> <!-- End of Checkout Form -->
				</div>
			</div>		
		</main> <!-- Main Area -->
	</div>
	{% endblock content %}

	<!-- Footer Area -->

</body>

</html>