<!DOCTYPE html>
<html lang="en">

 	<head>
 		<!-- Meta Tags -->
		<meta charset="UTF-8">
		<meta name="author" content="Kamran Mubarik">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Title -->
 		<title>E-Commerce Online Shop</title>
 		<!-- Style Sheet -->
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
		<!-- Javascript -->	
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  		<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  		<script>
		    $(document).ready(function(){
		      $('.slider').bxSlider({
				  auto: true,
				  autoControls: true,
				  stopAutoOnClick: true,
				  pager: true
				});
		    });
		 </script>
 	</head>
<body>
	<!--header section start-->
	{% extends 'base.html' %}

	 <!-- header -->
	
	{% block content %}
		
	
		

	<div class="container">
		<main>
			<div class="slider">
				<div class="slide-1">
					<img src="/static/img/slider/slide-1.jpg">
					<div class="slider-text">
						<h3>Sale 40% off</h3>
						<h2>Men's Watches</h2>
						<a href="{% url 'shop' %}">Shop Now</a>
					</div>
				</div>
				<div class="slide-2">
					<img src="/static/img/slider/slide-2.jpg">
					<div class="slider-text">
						<h3>Sale 20% off</h3>
						<h2>Women's Fashion</h2>
						<a href="{% url 'shop' %}">Shop Now</a>
					</div>
				</div>
				<div class="slide-3">
					<img src="/static/img/slider/slide-3.jpg">
					<div class="slider-text">
						<h3>Sale 50% off</h3>
						<h2>Women's Collection</h2>
						<a href="{% url 'shop' %}">Shop Now</a>
					</div>
				</div>		
			</div> <!-- slider -->

			<div class="new-product-section">
				<div class="product-section-heading">
					<h2>Tranding Products <img src="/static/img/icons/increase.png"></h2>
					<h3>Most selling product for the month</h3>
				</div>
				
				<div class="product-content">
					{% for n in men_cloths %}
					<div class="product">
						<a href="{% url 'product' n.slug %}">
							<img src="/media/{{ n.product_image }}">
						</a>
						<div class="product-detail">
							<h3>{{n.product_category}}</h3>
							<h2>{{n.product_name}}</h2>
							<a href="{% url 'cart' n.slug %}">Add to Cart</a>
							<p>Rs.{{n.product_price}}/-</p>
						</div>						
					</div>
					{% endfor %}
					
				    {% for n in men_shoes %}
					<div class="product">
						<a href="{% url 'product' n.slug %}">
							<img src="/media/{{ n.product_image }}">
						</a>
						<div class="product-detail">
							<h3>{{n.product_category}}</h3>
							<h2>{{n.product_name}}</h2>
							<a href="{% url 'cart' n.slug %}">Add to Cart</a>
							<p>Rs.{{n.product_price}}/-</p>
						</div>						
					</div>
					{% endfor %}
					{% for n in men_watches %}
					<div class="product">
						<a href="{% url 'product' n.slug %}">
							<img src="/media/{{ n.product_image }}">
						</a>
						<div class="product-detail">
							<h3>{{n.product_category}}</h3>
							<h2>{{n.product_name}}</h2>
							<a href="{% url 'cart' n.slug %} ">Add to Cart</a>
							<p>Rs.{{n.product_price}}/-</p>
						</div>						
					</div>
					{% endfor %}
					{% for n in women_glasses %}
					<div class="product">
						<a href="{% url 'product' n.slug %}">
							<img src="/media/{{ n.product_image }}">
						</a>
						<div class="product-detail">
							<h3>{{n.product_category}}</h3>
							<h2>{{n.product_name}}</h2>
							<a href="{% url 'cart'  n.slug %}">Add to Cart</a>
							<p>Rs.{{n.product_price}}/-</p>
						</div>						
					</div>
					{% endfor %}
					{% for n in women_handbags %}
					<div class="product">
						<a href="{% url 'product' n.slug %}">
							<img src="/media/{{ n.product_image }}">
						</a>
						<div class="product-detail">
							<h3>{{n.product_category}}</h3>
							<h2>{{n.product_name}}</h2>
							<a href="{% url 'cart' n.slug %} ">Add to Cart</a>
							<p>Rs.{{n.product_price}}/-</p>
						</div>						
					</div>
					{% endfor %}
					{% for n in men_cloths %}
					<div class="product">
						<a href="{% url 'product' n.slug %}">
							<img src="/media/{{ n.product_image }}">
						</a>
						<div class="product-detail">
							<h3>{{n.product_category}}</h3>
							<h2>{{n.product_name}}</h2>
							<a href="{% url 'cart'  n.slug %} ">Add to Cart</a>
							<p>Rs.{{n.product_price}}/-</p>
						</div>						
					</div>
					{% endfor %}
					{% for n in men_shoes %}
					<div class="product">
						<a href="{% url 'product' n.slug %}">
							<img src="/media/{{ n.product_image }}">
						</a>
						<div class="product-detail">
							<h3>{{n.product_category}}</h3>
							<h2>{{n.product_name}}</h2>
							<a href="{% url 'cart' n.slug %} ">Add to Cart</a>
							<p>Rs.{{n.product_price}}/-</p>
						</div>						
					</div>
					{% endfor %}
					{% for n in women_handbags %}
					<div class="product">
						<a href="{% url 'product' n.slug %}">
							<img src="/media/{{ n.product_image }}">
						</a>
						<div class="product-detail">
							<h3>{{n.product_category}}</h3>
							<h2>{{n.product_name}}</h2>
							<a href="{% url 'cart' n.slug %} ">Add to Cart</a>
							<p>Rs.{{n.product_price}}/-</p>
						</div>						
					</div>
					{% endfor %}

				
			</div> <!-- New Product Section -->

			<div class="collection">
				<div class="men-collection">
					<h2>Men's Collection</h2>
				</div>
				<div class="women-collection">
					<h2>Women's Collection</h2>
				</div>
			</div> <!-- Collection Section -->

			<div class="new-product-section">
				<div class="product-section-heading">
					<h2>Recommend Products <img src="/static/img/icons/good_quality.png"></h2>
					<h3>OUR BEST PRODUCTS RECOMMENDED FOR YOU</h3>
				</div>
				<div class="product-content">
					
					{% for n in men_cloths %}
					<div class="product">
						<a href="{% url 'product' n.slug %}">
							<img src="/media/{{ n.product_image }}">
						</a>
						<div class="product-detail">
							<h3>{{n.product_category}}</h3>
							<h2>{{n.product_name}}</h2>
							<a href="{% url 'cart' n.slug %}">Add to Cart</a>
							<p>Rs.{{n.product_price}}/-</p>
						</div>						
					</div>
					{% endfor %}
					
					{% for n in men_shoes %}
						
					
						
					<div class="product">
						<a href="{% url 'product' n.slug %}">
							<img src="/media/{{ n.product_image }}">
						</a>
						<div class="product-detail">
							<h3>{{n.product_category}}</h3>
							<h2>{{n.product_nameL}}</h2>
							<a href="{% url 'cart' n.slug %}">Add to Cart</a>
							<p>Rs.{{n.product_name}}/-</p>
						</div>
					</div>
					{% endfor %}
					{% for n in men_watches %}
					<div class="product">
						<a href="{% url 'product' n.slug %}">
							<img src="/media/{{ n.product_image }}">
						</a>
						<div class="product-detail">
							<h3>{{n.product_category}}</h3>
							<h2>{{n.product_nameL}}</h2>
							<a href="{% url 'cart' n.slug %}">Add to Cart</a>
							<p>Rs.{{n.product_name}}/-</p>
						</div>
					</div>
					{% endfor %}
					{% for n in women_glasses %}
					<div class="product">
						<a href="{% url 'product' n.slug %}">
							<img src="/media/{{ n.product_image }}">
						</a>
						<div class="product-detail">
							<h3>{{n.product_category}}</h3>
							<h2>{{n.product_nameL}}</h2>
							<a href="{% url 'cart' n.slug %}">Add to Cart</a>
							<p>Rs.{{n.product_name}}/-</p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div> <!-- Recommend Product Section -->
		</main> <!-- Main Area -->
	</div>
	{% endblock content %}
	<!-- Footer Area -->


</body>

</html>