<!DOCTYPE html>
<html lang="en">

 	<head>
 		<!-- Meta Tags -->
		<meta charset="UTF-8">
		<meta name="author" content="Kamran Mubarik">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Title -->
 		<title>E-Commerce Online Shop</title>
 		<!-- Style Sheet -->
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />  		
 	</head>
<body>

	{% extends 'base.html' %}
	<!-- header -->
	
	{% block content %}
		
	
		

	<div class="container">
		<main>
			{% for n in obj %}
			<div class="about">
				
				<h2 class="heading">Refund Policy</h2>
				<h3 class="heading">{{n.title}}</h2>
				<p>{{n.description}}</p>
				
			</div>
			{% endfor %}
		</main> <!-- Main Area -->
	</div>

	{% endblock content %}
	<!-- Footer Area -->

</body>

</html>