<!DOCTYPE html>
<html lang="en">

 	<head>
 		<!-- Meta Tags -->
		<meta charset="UTF-8">
		<meta name="author" content="Kamran Mubarik">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Title -->
 		<title>E-Commerce Online Shop</title>
 		<!-- Style Sheet -->
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />  		
 	</head>
<body>

	{% extends 'base.html' %}
	<!-- header -->
	
	{% block content %}
		
	
		

	<div class="container">
		<main>
			<div class="about">
				{% for i in objs %}
				<h2 class="heading">{{i.title}}</h2>
				<p>{{i.description}}</p>
				{% endfor %}
			</div>
		</main> <!-- Main Area -->
	</div>

	{% endblock content %}
	<!-- Footer Area -->

</body>

</html>