<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Web Design Company in Kathmandu Nepal - Web Creation Nepal</title>
  <meta name="description"
    content="We offer Web Design in nepal, web design nepal, Web Hosting, Domain registration, CMS, e-commerce, web site promotion, internet Promition, web design in nepal, design, creation mind in Nepal." />
  <meta name="keywords"
    content="web design in nepal, web design company in kathmandu, web design company in nepal, hosting in nepal, software development, design, web solution, it solution in nepal, it solution, web, hosting, nepal, freelncer web master, freelancer web designer, freelancer web, web portfolio, nepal base company." />
  <meta name="author" content="Web Creation Nepal" />
  <link rel="shortcut icon" href="/static/images/icon.png" />
  <meta name="company-Email" content="info@webcreationnepal.com" />
  <meta name="copyright" content="2022 Web Creation Nepal" />
  <meta name="coverage" content="Worldwide" />
  <meta name="revisit_after" content="30 days" />
  <meta name="identifier" content="index.html" />
  <meta name="language" content="English" />
  <meta name="robots" content="follow" />
  <meta name="googlebot" content="index, follow" />
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/fontawesome-all.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/animate.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Blog",
            "url": "http://blog.webcreationnepal.com"
        }
    </script>
  <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "Web Creation Nepal Pvt. Ltd.",
            "url": "https://www.webcreationnepal.com",
            "sameAs": ["https://www.facebook.com/webcreationnepal", "https://twitter.com/webcreatnepal", "https://www.linkedin.com/in/webcreationnepal/", "https://www.instagram.com/webcreationinfo/", "https://foursquare.com/user/99408348"],
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "90",
                "bestRating": "100",
                "ratingCount": "120"
            }
        }
    </script>
</head>

<body>
  <header>
    <div class="container-fluid gap">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="logo">
            <a href="index-2.html"><img src="/static/images/logo.png" alt="Web Creation Nepal" /></a>
          </div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8">
          <div class="contact-info clearfix">
            <ul>
              <li>
                <div class="icon-hd"><img src="/static/images/icons/phone.png" alt="Phone" /></div>
                <div class="cont-hd">Phone Support<span><a href="tel:+9779851029233">977-01-5343968 /
                      9851029233</a></span></div>
              </li>
              <li class="hidden-xs">
                <div class="icon-hd"><img src="/static/images/icons/time.png" alt="Opening Time" /></div>
                <div class="cont-hd">09.00 - 06.00<span>Sunday to Friday</span></div>
              </li>
              <li>
                <div class="icon-hd"><img src="/static/images/icons/email.png" alt="Email" /></div>
                <div class="cont-hd">Email Support<span><a
                      href="email-protection.html#11727e7f65707265516674737263747065787e7f7f7461707d3f727e7c"><span
                        class="__cf_email__"
                        data-cfemail="bcdfd3d2c8dddfc8fccbd9dedfced9ddc8d5d3d2d2d9ccddd092dfd3d1">[email&#160;protected]</span></a>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="nav-side">
            <span onclick="openNav()"><i class="fas fa-bars"></i></span>
          </div>
        </div>
      </div>
      <div class="mbl-view"><i class="fas fa-phone-volume"></i>&nbsp;&nbsp;<a href="tel:+9779851029233">+977
          9851029233</a></div>
    </div>
  </header>
  <section class="inner-page gap_30">
    <div class="container-fluid gap">
      <div class="service-box">
        <div class="row">
          <div class="col-sm-7 col-md-7 wow fadeInLeft">
            <div class="service-list mt-15">
              <h1>Who we are?</h1>
              <p><a href="index-2.html">Web Creation Nepal</a> is a well-established IT company – a trusted brand for
                its efficient and first-class services to a diverse range of clients in Nepal and worldwide. Since its
                establishment in 2011,
                we have been providing creative, secure, bug-free and winning web design and mobile apps development
                services at reasonable costs to our clients. Enjoy the fullest!
                <br>
                <br> Our company is harnessed with a reliable team of experts comprising of IT Engineers, Developers,
                Designers, PHP Programmers, WordPress Developers, SEO Consultants, Professional Content Creators,
                Marketing Executives
                and more. We all work to the highest of standards in providing the best quality. We use the latest tools
                & technology, dynamic web and mobile application solutions, and upgraded web design programming.
                <br>
                <br> We have developed more than 1000+ websites within the last 10 years. Our clients range from those
                needing small websites to international companies who require complex e-commerce software and custom
                solution programming.
                Our professional and expert team plans, designs, tests and deliver quality products or services to you.
                We understand our clients’ requirements, analyze their business objectives and goals. Mixing their
                business plants
                and emotions in the services, we meet their needs and exceed expectations.
                <br>
                <br> Our testimonials, certifications, awards, emails or direct calls or emails from happy customers and
                Google reviews speak about our quality. Your satisfaction is guaranteed.
                <br>
                <br>We give you the best returns on your investment. Guaranteed!
              </p>
              <p>Stop worrying! Now <a href="contact.html"><b>send a request</b></a> and feel peace of mind. You get
                complaint-free and bug-free services.
              </p>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 wow fadeInRight">
            <div class="text-center mt-15"> <img src="/static/images/gallery/bannerimage.gif" alt="Web Creation Nepal" /> </div>
          </div>
        </div>
      </div>
      <div class="mission-inner gap_20">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-50">
            <div class="mission-vision mt-20 clearfix">
              <div class="ser-icon m-icon"> <i class="fab fa-envira"></i> </div>
              <div class="ser-info">
                <h3>Our Mission</h3>
                <p class="description">By designing and customizing your business platforms, we promise you to get the
                  best possible return on your investment.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col-50">
            <div class="mission-vision mt-20 clearfix">
              <div class="ser-icon  m-icon v-icon"> <i class="fas fa-feather"></i> </div>
              <div class="ser-info">
                <h3>Our Vision</h3>
                <p class="description">Striving to be Leader in Website Design and Development, Mobile Application
                  Development, Digital marketing and Business Branding. </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col-50">
            <div class="mission-vision mt-20 clearfix">
              <div class="ser-icon  m-icon o-icon"> <i class="fas fa-comment-dots"></i> </div>
              <div class="ser-info">
                <h3>Our Objestives</h3>
                <p class="description">Committed to deliver the best industry practices coupled with emerging practical
                  and dependable technological solutions. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="why-wrap gap_20">
    <div class="container-fluid gap">
      <div class="site-title">
        <h2 class="recentwork">Why Choose Us?</h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 wow fadeInLeft">
          <div class="why-bx mt-20 clearfix">
            <div class="why-icon-bx"><i class="far fa-edit"></i></div>
            <div class="why-desc">
              <h4>Innovation and Creativity</h4>
              <p>We believe in thinking innovative ideas that perform in the finest ways. Our specialists are
                perpetually eager to learn and they continuously return up with the foremost innovative result-oriented
                ideas.
              </p>
            </div>
          </div>
          <div class="why-bx mt-20 clearfix">
            <div class="why-icon-bx"><i class="fas fa-low-vision"></i></div>
            <div class="why-desc">
              <h4>Talented Team</h4>
              <p>We have in-house proficient designers and developers as bringing them together makes a website great.
                From logo design to custom web site development, we are able to meet all of your website needs.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 wow fadeInRight">
          <div class="why-bx mt-20 clearfix">
            <div class="why-icon-bx"><i class="far fa-check-circle"></i></div>
            <div class="why-desc">
              <h4>Reliable</h4>
              <p>Web Creation Nepal has continuously worked to create ever-lasting business relations with our clients.
                With over 10 years of experience, we are providing top-notch customer services to our clients. </p>
            </div>
          </div>
          <div class="why-bx mt-20 clearfix">
            <div class="why-icon-bx"><i class="fab fa-algolia"></i></div>
            <div class="why-desc">
              <h4>Knowledge</h4>
              <p>We study, practice, develop, and continuously educate ourselves on all the latest technologies and
                trends to stay up to date. After all… we are sensible working people and love what we do! </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="gap_30">
    <div class="container-fluid gap">
      <div class="site-title">
        <h3>Team Members</h3>
      </div>
      <div class="row">
        <div class="col-sm-3 col-md-3 col-50">
          <div class="team-grid mt-20">
            <div class="team-img"> <img src="/static/images/team/bishal-dhakal-min.jpg" alt="Bishal Dhakal" /> </div>
            <div class="text-center">
              <h4>Bishal Dhakal</h4>
              <p class="description">Managing Director</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-50">
          <div class="team-grid mt-20">
            <div class="team-img"> <img src="/static/images/team/anup-syangdan-min.jpg" alt="Anup Syangdan" /> </div>
            <div class="text-center">
              <h4>Anup Syangdan</h4>
              <p class="description">Director</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-50">
          <div class="team-grid mt-20">
            <div class="team-img"> <img src="/static/images/team/yam-subba-min.jpg" alt="Yam Subba" /> </div>
            <div class="text-center">
              <h4>Yam Subba</h4>
              <p class="description">Senior Designer</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-50">
          <div class="team-grid mt-20">
            <div class="team-img"> <img src="/static/images/team/dhruba-lamsal.jpg" alt="Dhruba Lamsal" /> </div>
            <div class="text-center">
              <h4>Dhruba Lamsal</h4>
              <p class="description">SEO Consultant</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-50">
          <div class="team-grid mt-20">
            <div class="team-img"> <img src="/static/images/team/biru--bahadur-kunwar.jpg" alt="Bir Bahadur Kunwar" /> </div>
            <div class="text-center">
              <h4>Bir Bahadur Kunwar</h4>
              <p class="description">PHP Programmer</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-50">
          <div class="team-grid mt-20">
            <div class="team-img"> <img src="/static/images/team/muna-maharjan.jpg" alt="Muna Maharjan" /> </div>
            <div class="text-center">
              <h4>Muna Maharjan</h4>
              <p class="description">Web Designer</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-50">
          <div class="team-grid mt-20">
            <div class="team-img"> <img src="/static/images/team/sn-shah.jpg" alt="Subh Narayan Shah" /> </div>
            <div class="text-center">
              <h4>Subh Narayan Shah</h4>
              <p class="description">Wordpress Developer</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-50">
          <div class="team-grid mt-20">
            <div class="team-img"> <img src="/static/images/team/asmita-sonam.jpg" alt="Asmita Sonam" /> </div>
            <div class="text-center">
              <h4>Asmita Sonam</h4>
              <p class="description">Front-desk Manager</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-50">
          <div class="team-grid mt-20">
            <div class="team-img"> <img src="/static/images/team/pratik-joshi-min.jpg" alt="Pratik Joshi" /> </div>
            <div class="text-center">
              <h4>Pratik Joshi</h4>
              <p class="description">SEO Consultant</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-50">
          <div class="team-grid mt-20">
            <div class="team-img"> <img src="/static/images/team/ramesh-subedi.jpg" alt="Ramesh Subedi" /> </div>
            <div class="text-center">
              <h4>Ramesh Subedi</h4>
              <p class="description">QA Engineer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="work-prs text-center gap_20">
    <div class="container-fluid">
      <h2>How We Work</h2>
      <div class="prcs-img mt-20"> <img src="/static/images/banner/how-we-work.png" alt="How we Work" /> </div>
    </div>
  </section>
  <div class="contact-wrapper common-gap">
    <div class="container-fluid gap">
      <div class="site-title">
        <h6 class="recentwork"><span>Request A</span> Quote</h6>
      </div>
      <p class="title recentwork">If you like the price you get, just call us or email us and we'll discuss things in
        more detail.</P>
      <div class="seprator-title"></div>
      <div class="row">
        <div class="col-sm-7 col-md-8 wow fadeInLeft">
          <div class="contact-form mt-30">
            <form action="https://www.webcreationnepal.com/process-contact.php" method="POST">
              <div class="row">
                <div class="col-sm-6 col-md-6 col-50">
                  <input type="text" name="name" placeholder="Your Name" required>
                </div>
                <div class="col-sm-6 col-md-6 col-50">
                  <input type="email" name="email" placeholder="Email" required>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-6 col-50">
                  <input type="number" name="Phone" placeholder="Phone" required>
                </div>
                <div class="col-sm-6 col-md-6 col-50">
                  <input type="text" name="Address" placeholder="Address" required>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-6 col-50">
                  <select id="exampleFormControlSelect1" name="service">
                    <option value="Services">Services</option>
                    <option value="Website Designing">Web Design & Development </option>
                    <option value="E-Commerce Solution">E-Commerce Solution</option>
                    <option value="Mobile Apps Development">Mobile Apps Development</option>
                    <option value="Digital Marketing">Digital Marketing</option>
                    <option value="Business Branding">Business Branding</option>
                  </select>
                </div>
                <div class="col-sm-6 col-md-6 col-50">
                  <select id="exampleFormControlSelect2" name="budget">
                    <option value="Budget">Budget</option>
                    <option value="Rs.9,999 - Rs.49,999">Rs.9,999 - Rs.49,999 </option>
                    <option value="Rs.50,000 - Rs.99,999">Rs.50,000 - Rs.99,999 </option>
                    <option value="Rs.100,000 - Rs.299,99">Rs.100,000 - Rs.299,999</option>
                    <option value="Rs.300,000 - Rs.499,999">Rs.300,000 - Rs.499,999</option>
                    <option value="Rs.500,000 and Above">Rs.500,000 and Above</option>
                  </select>
                </div>
              </div>
              <textarea name="comment" placeholder="Your Message"></textarea>
              <div class="row">
                <div class="col-sm-8 col-md-8 col-50">
                  <div class="recaptha mt-10 clearfix">
                    <div id="recaptcha" class="g-recaptcha" data-sitekey="6LcE3KkUAAAAAPiSD31ufUwqS--htzaW_6-g7Sep">
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 col-50">
                  <div class="mt-30 clearfix">
                    <input type="submit" name="submit" class="get-quote" value="Get Quote">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-5 col-md-4 wow fadeInRight">
          <div class="cnt-info mt-30">
            <h2>Our Address</h2>
            <span class="com-name">Web Creation Nepal Private Limited</span>
            <div class="add-info mt-15"> <span><i class="far fa-envelope"></i> &nbsp;Email Address</span>
              <p><a href="/email-protection.html" class="__cf_email__"
                  data-cfemail="a4c7cbcad0c5c7d0e4d3c1c6c7d6c1c5d0cdcbcacac1d4c5c88ac7cbc9">[email&#160;protected]</a>
                <br>
                <a href="/email-protection.html" class="__cf_email__"
                  data-cfemail="e592868b8a83838c8680a58288848c89cb868a88">[email&#160;protected]</a>
              </P>
            </div>
            <div class="add-info mt-15"> <span><i class="fas fa-mobile-alt"></i> &nbsp;Phone Number</span>
              <p> 977-01-5343968, 5346249, 9851029233</p>
            </div>
            <div class="add-info mt-15"> <span><i class="fas fa-map"></i> &nbsp;Our Location</span>
              <p>P.O. BOX : 21239, Bagbazar (near to old buspark) <br> Kathmandu Nepal</P>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="gap_30">
    <div class="container-fluid gap">
      <div class="row wow fadeInRight">
        <div class="col-sm-3 col-md-3 col-50">
          <div class="company-award mt-20 clearfix">
            <div class="inner-box">
              <div class="icon img-circle bg_blue wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                <span class="flaticon-icon"> <i class="far fa-lightbulb"></i> </span>
              </div>
            </div>
            <div class="award-info">
              <h4>1000+ <span>PROJECT</span></h4>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-50">
          <div class="company-award mt-20 clearfix">
            <div class="inner-box">
              <div class="icon img-circle bg_purple wow zoomIn animated" data-wow-delay="0ms"
                data-wow-duration="1500ms"> <span class="flaticon-icon"> <i class="fas fa-calendar-alt"></i> </span>
              </div>
            </div>
            <div class="award-info">
              <h4>10+ yrs <span>experience</span></h4>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-50">
          <div class="company-award mt-20 clearfix">
            <div class="inner-box">
              <div class="icon img-circle bg_orange wow zoomIn animated" data-wow-delay="0ms"
                data-wow-duration="1500ms"> <span class="flaticon-icon"> <i class="fas fa-users"></i> </span> </div>
            </div>
            <div class="award-info">
              <h4>500+ <span>Customers</span></h4>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-50">
          <div class="company-award mt-20 clearfix">
            <div class="inner-box">
              <div class="icon img-circle bg_bluedark wow zoomIn animated" data-wow-delay="0ms"
                data-wow-duration="1500ms"> <span class="flaticon-icon"> <i class="fab fa-facebook-f"></i> </span>
              </div>
            </div>
            <div class="award-info">
              <h4>13522+ <span>Followers</span></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container-fluid gap">
      <div class="social-widget">
        <ul>
          <li>
            <a href="https://www.facebook.com/webcreationnepal" target="_blank"> <i class="fab fa-facebook-f"></i> </a>
          </li>
          <li>
            <a href="https://twitter.com/webcreatnepal" target="_blank"> <i class="fab fa-twitter"></i> </a>
          </li>
          <li>
            <a href="#"> <i class="fab fa-google"></i> </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/webcreationnepal/" target="_blank"> <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="cpy-rit">
        <p>Copyright © 2022 Web Creation Nepal. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="index-2.html" title="Web Creation Nepal"><i class="fas fa-home"></i> &nbsp;&nbsp;Home</a>
    <a href="about.html" title="About us"><i class="fas fa-user"></i> &nbsp;&nbsp;About us</a>
    <a href="services.html" title="Services"><i class="fas fa-cogs"></i> &nbsp;&nbsp;Services</a>
    <a href="web-design-portfolio-nepal.html" title="Portfolio"><i class="fab fa-algolia"></i> &nbsp;&nbsp;Portfolio</a>
    <a href="sectors.html" title="Sectors"><i class="fas fa-adjust"></i> &nbsp;&nbsp;Sectors</a>
    <a href="vacancy.html" title="Career"><i class="fas fa-sign-in-alt"></i> &nbsp;&nbsp;Career</a>
    <a href="special-offer-packages.html" title="Price"><i class="fas fa-tag"></i> &nbsp;&nbsp;Packages</a>
    <a href="http://blog.webcreationnepal.com/" title="Blog" target="_blank"><i class="fab fa-blogger"></i>
      &nbsp;&nbsp;Blog</a>
    <a href="http://client.webcreationnepal.com/" title="Support" target="_blank"><i class="fas fa-question-circle"></i>
      &nbsp;&nbsp;Support</a>
    <a href="contact.html" title="Contact us"><i class="fas fa-address-book"></i> &nbsp;&nbsp;Contact us</a>
  </div>
  <div id="fb-root"></div>
  <script data-cfasync="false" src="/static/js/email-decode.min.js"></script>
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        xfbml: true,
        version: 'v4.0'
      });
    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = '/static/js/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <div class="fb-customerchat" attribution="setup_tool" page_id="226064034091525" theme_color="#085b8f"
    logged_in_greeting="Namaste! How can we help you?" logged_out_greeting="Namaste! How can we help you?">
  </div>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/wow.min.js"></script>
  <script src="/static/js/script.js"></script>
  <script src="/static/js/api.js"></script>
  <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v2cb3a2ab87c5498db5ce7e6608cf55231689030342039"
    integrity="sha512-DI3rPuZDcpH/mSGyN22erN5QFnhl760f50/te7FTIYxodEF8jJnSFnfnmG/c+osmIQemvUrnBtxnMpNdzvx1/g=="
    data-cf-beacon='{"rayId":"7e9da6d2782b1942","version":"2023.4.0","r":1,"b":1,"token":"824f28a8ab0c41faa3b745d14ee614fd","si":100}'
    crossorigin="anonymous"></script>
</body>

</html>