<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Website Design, Development and Hosting company in Nepal</title>
<meta name="keywords" content="website design in Nepal, web design Nepal, web design from Nepal, Web Hosting in nepal, mobile app development in Nepal, web development Nepal, web design company in nepal, SEO Services in Nepal, ecommerce solution in Nepal, Web Creation Nepal" />
<meta name="description" content="Web Creation Nepal provides a complete solution for Web design and Development, Web Hosting, Mobile App Development, Software Development." />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Website Design, Development and Hosting company in Nepal" />
<meta property="og:description" content="Web Creation Nepal provides a complete solution for Web design and Development, Web Hosting, Mobile App Development, Software Development." />
<meta property="og:url" content="index-2.html" />
<meta property="og:site_name" content="Web Creation Nepal" />
<meta property="og:image" content="/static/images/icon.png" />
<meta name="nepalica_v" content="937be4d9a53fbb2b9b2386d7cfbb0927" />
<meta name="language" content="en" />
<link rel="shortcut icon" href="/static/images/icon.png" />

<link rel="canonical" href="index-2.html" />
<meta name="Robots" content="INDEX,FOLLOW" />
<meta name="msvalidate.01" content="B64D47AA653391C16DBFD828BCA9B388" />
<meta name="webstataz-site-verification" content="b6ea1fe3b960a7a83ffc897c3c8c4eae" />
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/all.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/animate.css">
<link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/owl.transitions.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<script type="application/ld+json">{"@context":"http://schema.org","@type":"Blog","url":"http://blog.webcreationnepal.com"}</script><script type="application/ld+json">{"@context":"http://schema.org","@type":"Organization","name":"Web Creation Nepal Pvt. Ltd.","url":"https://www.webcreationnepal.com","sameAs":["https://www.facebook.com/webcreationnepal","https://twitter.com/webcreatnepal","https://www.linkedin.com/in/webcreationnepal/","https://www.instagram.com/webcreationinfo/","https://foursquare.com/user/99408348"], "aggregateRating": {"@type":"AggregateRating","ratingValue": "90","bestRating": "100","ratingCount": "120"}}</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141825682-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-141825682-1');
</script>
</head>
<body>
<header>
<div class="container-fluid gap">
<div class="row">
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="logo"> <a href="index-2.html"><img src="/static/images/logo.png" alt="Web Creation Nepal" /></a> </div>
</div>
<div class="col-xs-8 col-sm-8 col-md-8">
<div class="contact-info clearfix">
<ul>
<li>
<div class="icon-hd"><img src="/static/images/icons/phone.png" alt="Phone" /></div>
<div class="cont-hd">Phone Support<span><a href="tel:+9779851029233">977-01-5343968 / 9851029233</a></span></div>
</li>
<li class="hidden-xs">
<div class="icon-hd"><img src="/static/images/icons/time.png" alt="Opening Time" /></div>
<div class="cont-hd">09.00 - 06.00<span>Sunday to Friday</span></div>
</li>
<li>
<div class="icon-hd"><img src="/static/images/icons/email.png" alt="Email" /></div>
<div class="cont-hd">Email Support<span><a href="cdn-cgi/l/email-protection.html#beddd1d0cadfddcafec9dbdcddccdbdfcad7d1d090ddd1d390d0ce"><span class="__cf_email__" data-cfemail="e3808c8d97828097a394868180918682978a8c8dcd808c8ecd8d93">[email&#160;protected]</span></a></span></div>
</li>
</ul>
</div>
</div>
<div class="col-xs-1 col-sm-1 col-md-1">
<div class="nav-side">
<span onclick="openNav()"><i class="fas fa-bars"></i></span>
</div>
</div>
</div>
<div class="mbl-view"><i class="fas fa-phone-volume"></i>&nbsp;&nbsp;<a href="tel:+9779851029233">+977 9851029233</a></div>
</div>
</header>
<div class="banner"> <img src="/static/images/banner/web-design-in-nepal.jpg" alt="Web Design in Nepal" />
<div class="banner-overlay wow slideInDown">
<div class="banner-inner">
<h1>Professional Website Development Company </h1>
<p class="dsce"> You are heartily welcome to <b> Web Creation Nepal</b> - a leading web design company in Nepal plus worldwide. Over 10 years, we have served over 800 clients with the highest-quality, beautiful, cost-effective, secure and bug-free projects. </p>
<div class="mt-10">
<div class="rank-btn">Ranked #1 by Google</div>
<div class="rank-btn">Free SSL Certificate</div>
<div class="rank-btn">Free Search Engine Boost</div>
</div>
<div class="partner-wrap clearfix">
<div class="partner-logo"><img src="/static/images/icons/partner-1.jpg" alt="Web Creation Nepal - Bing Certificate" /></div>
<div class="partner-logo"><img src="/static/images/icons/partner-2.jpg" alt="Web Creation Nepal - Google Certificate" /></div>
</div>
</div>
</div>
</div>
<section class="service-wrapper">
<div class="widget-title">
<h3>WHAT WE DO ?</h3>
</div>
<div class="container-fluid">
<div class="service-box">
<div class="tab" role="tabpanel">
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"> <a href="#Section1" role="tab" data-toggle="tab" title="Web Design in Nepal"> <i class="far fa-file-code"></i>
<div class="ser-type"> WEB DESIGN & <span>DEVELOPMENT</span> </div>
<div class="clearfix"></div>
</a> </li>
<li role="presentation"> <a href="#Section2" role="tab" data-toggle="tab" title="Mobile App Development in Nepal"> <i class="fas fa-mobile-alt"></i>
<div class="ser-type"> MOBILE APPS<span>DEVELOPMENT</span> </div>
<div class="clearfix"></div>
</a> </li>
<li role="presentation"> <a href="#Section3" role="tab" data-toggle="tab" title="Digital Markleting Service in Nepal"> <i class="fas fa-bullhorn"></i>
<div class="ser-type"> DIGITAL <span>MARKETING</span> </div>
<div class="clearfix"></div>
</a> </li>
<li role="presentation"> <a href="#Section8" role="tab" data-toggle="tab" title="Branding in Nepal"><i class="fas fa-lightbulb"></i>
<div class="ser-type"> BUSINESS <span>BRANDING</span> </div>
<div class="clearfix"></div>
</a> </li>
</ul>
<div class="tab-content tabs">
<div role="tabpanel" class="tab-pane fade in active" id="Section1">
<div class="row">
<div class="col-sm-5 col-md-6 wow fadeInUp">
<div class="text-center mt-15"> <img src="/static/images/banner/web-design.jpg" alt="Web Design & Development" /> </div>
</div>
<div class="col-sm-7 col-md-6 wow fadeInRight">
<div class="service-list mt-15">
<h2>Web Design & Development</h2>
<p><a href="index-2.html" title="Web Creation Nepal">Web Creation Nepal</a> provides custom website solutions that distribute a compelling user experience while integrating with your overall marketing goals and brand identity.</P>
<div class="row">
<div class="col-sm-6 col-md-6 col-50">
<div class="service-gird clearfix mt-20">
<div class="ser-icon"> <i class="fas fa-desktop"></i> </div>
<div class="ser-info">
<h3><a href="website-design.html" title="Web Design in Nepal">Responsive Web Design</a></h3>
<p class="description"> <a href="website-design.html" title="Web Design in Nepal"> Responsive Web design is a new approach in web design which must be responded to the users based on platform of the screen..</a></P>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-50">
<div class="service-gird clearfix mt-20">
<div class="ser-icon"> <i class="fas fa-file-code"></i> </div>
<div class="ser-info">
<h3><a href="web-application.html" title="Web Application Development in Nepal">Web App Development</a> </h3>
<p class="description"><a href="web-application.html" title="Web Application Development in Nepal">Web Applications Development and Web Development is the one of the most quickly developing IT Industry in the all world. The web development </a></P>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-50">
<div class="service-gird clearfix mt-20">
<div class="ser-icon"> <i class="fas fa-database"></i> </div>
<div class="ser-info">
<h3><a href="website-hosting-solution.html" title="Web Hosting in Nepal">Domain & Hosting</a></h3>
<p class="description"><a href="website-hosting-solution.html" title="Web Hosting in Nepal">We also provide reliable website hosting solution that handles every aspect of your website. Our dedicated server located in Canada and USA, has 99.9%</a></P>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-50">
<div class="service-gird clearfix mt-20">
<div class="ser-icon"> <i class="fas fa-shopping-cart"></i> </div>
<div class="ser-info">
<h3><a href="ecommerce-solution.html" title="E-Commerce Development in Nepal">E-Commerce Solution </a></h3>
<p class="description"><a href="ecommerce-solution.html" title="E-Commerce Development in Nepal">Most people who work their business on line nowadays realize the importance of having a reliable and sustainable means in regard to the financing..</a></P>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div role="tabpanel" class="tab-pane fade" id="Section2">
<div class="row">
<div class="col-sm-6 col-md-6">
<div class="service-list mt-15">
<h2>Mobile App Development</h2>
<p>If you're searching for a professional app developer in Nepal then contact us who has more than 11 years experience. </P>
<div class="row">
<div class="col-sm-6 col-md-6 col-50">
<div class="service-gird clearfix mt-20">
<div class="ser-icon"> <i class="fab fa-android"></i> </div>
<div class="ser-info">
<h3><a href="android-app-development-nepal.html" title="Android Application Development in Nepal">Android Mobile App</a></h3>
<p class="description"><a href="android-app-development-nepal.html" title="Android Application Development in Nepal">Our specialists offer an assortment of Android companionable mobile applications that..</a></P>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-50">
<div class="service-gird clearfix mt-20">
<div class="ser-icon"> <i class="fab fa-apple"></i> </div>
<div class="ser-info">
<h3><a href="ios-app-development-nepal.html" title="iOS Application Development in Nepal">iOS Mobile App</a></h3>
<p class="description"><a href="ios-app-development-nepal.html" title="iOS Application Development in Nepal">Your app must be appealing and user-friendly and we here at web creation deliver high-end iOS application..</a></P>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-50">
<div class="service-gird clearfix mt-20">
<div class="ser-icon"> <i class="fas fa-mobile-alt"></i> </div>
<div class="ser-info">
<h3><a href="hybrid-app-development-nepal.html" title="Hybrid Application Development in Nepal">Hybrid Mobile App</a></h3>
<p class="description"><a href="hybrid-app-development-nepal.html" title="Hybrid Application Development in Nepal">Web Creation Nepal holds experience in developing Hybrid Mobile Apps that combine best of both worlds- Native and HTML5 functionality.</a></P>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-50">
<div class="service-gird clearfix mt-20">
<div class="ser-icon"> <i class="fab fa-creative-commons-share"></i> </div>
<div class="ser-info">
<h3><a href="native-mobile-app-development-nepal.html" title="Native Mobile Application Development in Nepal">Native Mobile App</a></h3>
<p class="description"><a href="native-mobile-app-development-nepal.html" title="Native Mobile Application Development in Nepal">We build high performance, scalable apps that run on both iOS and Android by incorporating Native in our App Development process..</a></P>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6">
<div class="mt-15"> <img src="/static/images/banner/app-development-nepal.png" alt="Mobile App Development in Nepal" /> </div>
</div>
</div>
</div>
<div role="tabpanel" class="tab-pane fade" id="Section3">
<div class="row">
<div class="col-sm-6 col-md-6">
<div class="mt-15"> <img src="/static/images/banner/digital-marketing-certificate.png" alt="digital marketing certificate" /> </div>
</div>
<div class="col-sm-6 col-md-6">
<div class="service-list mt-15">
<h2>Digital Marketing Services</h2>
<p>Digital marketing refers to the use of digital media in order to promote, sell or buy products and services to the customers and businesses.</P>
<div class="row">
<div class="col-sm-6 col-md-6 col-50">
<div class="service-gird clearfix mt-20">
<div class="ser-icon"> <i class="fas fa-chart-line"></i> </div>
<div class="ser-info">
<h3><a href="seo.html" title="SEO Service in Nepal">SEO Service</a></h3>
<p class="description"><a href="seo.html" title="SEO Service in Nepal">Every website is unique, we rank the Factors accordingly to provide Business oriented, distinctive and reliable services.</a></P>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-50">
<div class="service-gird clearfix mt-20">
<div class="ser-icon"><i class="fab fa-google"></i></div>
<div class="ser-info">
<h3><a href="ppc-management-in-nepal.html" title="PPC Management in Nepal">PPC Management</a></h3>
<p class="description"><a href="ppc-management-in-nepal.html" title="PPC Management in Nepal">To achieve, engage & convert audience to customers. as the most promising PPC agency in Nepal.</a></P>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-50">
<div class="service-gird clearfix mt-20">
<div class="ser-icon"> <i class="fas fa-share-alt-square"></i> </div>
<div class="ser-info">
<h3><a href="social-media-marketing-in-nepal.html" title="Social Media Marketing in Nepal">Social Media Marketing</a></h3>
<p class="description"><a href="social-media-marketing-in-nepal.html" title="Social Media Marketing in Nepal">Web creation Nepal, as a social media agency plan & implement social media marketing strategy on right channel. </a></P>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-50">
<div class="service-gird clearfix mt-20">
<div class="ser-icon"> <i class="fas fa-pencil-alt"></i> </div>
<div class="ser-info">
<h3><a href="website-content-writing.html" title="Content Writing in Nepal">Content Writing</a> </h3>
<p class="description"><a href="website-content-writing.html" title="Content Writing in Nepal">We offer is completely distinctive, contemporary and whole plagiarism free wherever our writers make sure that..</a></P>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div role="tabpanel" class="tab-pane fade" id="Section8">
<div class="row">
<div class="col-sm-6 col-md-6">
<div class="service-list mt-15">
<h2>Business Branding</h2>
<p>Web Creation Nepal specializes in creating & delivering comprehensive branding services together with logo design, branding strategies, and much more which mixes our creativeness and digital marketing skills to provide our clients with leading solutions that fulfill their branding desires. </P>
<div class="row">
<div class="col-sm-6 col-md-6 col-50">
<div class="service-gird clearfix mt-20">
<div class="ser-icon"> <i class="fab fa-ethereum"></i></div>
<div class="ser-info">
<h3><a href="logo-design.html" title="Logo Design in Nepal">Logo Design</a> </h3>
<p class="description"><a href="logo-design.html" title="Logo Design in Nepal">We are logo design company that works with the vision of providing logos which will lend your business uniqueness. </a></P>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-50">
<div class="service-gird clearfix mt-20">
<div class="ser-icon"> <i class="fas fa-palette"></i> </div>
<div class="ser-info">
<h3><a href="logo-design.html" title="Graphic Design in Nepal">Graphic Design</a></h3>
<p class="description"><a href="logo-design.html" title="Graphic Design in Nepal">We are able to help you with your brand development by creating an image that represents the best of your company.</a></P>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-50">
<div class="service-gird clearfix mt-20">
<div class="ser-icon"> <i class="fas fa-info-circle"></i></div>
<div class="ser-info">
<h3><a href="logo-design.html" title="Infographics Design in Nepal">Infographics Design</a></h3>
<p class="description"><a href="logo-design.html" title="Infographics Design in Nepal">Info-graphics are designed to transform information into engaging visual storytelling where web creation Nepal conceptualize.</a></P>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-50">
<div class="service-gird clearfix mt-20">
<div class="ser-icon"> <i class="fas fa-pencil-alt"></i> </div>
<div class="ser-info">
<h3><a href="website-content-writing.html" title="Content Writing in Nepal"> Content Writing</a></h3>
<p class="description"><a href="website-content-writing.html" title="Content Writing in Nepal">We offer is completely distinctive, contemporary and whole plagiarism free wherever our writers make sure that..</a></P>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6">
<div class="mt-15"> <img src="/static/images/banner/branding-service-web-creation.png" alt="Mobile App Development in Nepal" /> </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="why-wrap gap_20">
<div class="container-fluid gap">
<div class="site-title">
<h2 class="recentwork">Our Recent Work</h2>
</div>
<div class="row">
<div class="col-xs-6 col-sm-3 col-md-3 wow fadeInLeft">
<div class="recent-work mt-20"> <a href="web-design-portfolio-nepal.html"><img src="/static/images/gallery/r-2.jpg" alt="3d Crystal" /></a> </div>
</div>
<div class="col-xs-6 col-sm-3 col-md-3 wow fadeInLeft">
<div class="recent-work mt-20"> <a href="web-design-portfolio-nepal.html"><img src="/static/images/gallery/r-1.jpg" alt="ABC Hub" /></a> </div>
</div>
<div class="col-xs-6 col-sm-3 col-md-3 wow fadeInLeft">
<div class="recent-work mt-20"> <a href="web-design-portfolio-nepal.html"><img src="/static/images/gallery/ssfi.jpg" alt="SSFI Spices" /></a> </div>
</div>
<div class="col-xs-6 col-sm-3 col-md-3 wow fadeInLeft">
<div class="recent-work mt-20"> <a href="web-design-portfolio-nepal.html"><img src="/static/images/gallery/r-4.jpg" alt="Nabula" /></a> </div>
</div>
</div>
</div>
</section>
<section class="test-customer gap_20">
<div class="container-fluid gap">
<div class="row">
<div class="col-sm-6 col-md-6 wow fadeInLeft">
<div class="mt-20">
<div class="site-title">
<h3>Clients Testimonials</h3>
</div>
<div class="testi-box">
<div id="testimonial-slider" class="owl-carousel">
<div class="testimonial mt-20">
<p class="description">Web Creation Nepal is the premier web development, marketing, and design company in Kathmandu. Our agreement was made clear beforehand, and the result exceeded my expectations. Bishal and the team do great work, and I'll definitely be coming back! </p>
<div class="testimonial-content">
<div class="pic"> <img src="/static/images/c-1.jpg" alt="Nepal Travel services"> </div>
<h3 class="testimonial-title">Padam Timsina <small>Nepal Travel services</small> </h3>
</div>
</div>
<div class="testimonial mt-20">
<p class="description"> I have worked with Web Creation Nepal, Kathmandu for many years. It started out with web design and logos and it has expanded to SEO work. This company goes above and beyond my expectations. The cost and quality of my resulting website results exceeded my expectations.</p>
<div class="testimonial-content">
<div class="pic"> <img src="/static/images/c-1.jpg" alt="Sangrila Travels"> </div>
<h3 class="testimonial-title">Manami Takahashi <small>Sangrila Travels</small> </h3>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 wow fadeInRight">
<div class="mt-20">
<div class="site-title">
<h4>Happy Clients</h4>
</div>
<div class="row">
<div class="col-xs-3 col-sm-3 col-md-3 col-100">
<div class="client-logo mt-20"><img src="/static/images/gallery/nepal-govt.png" alt="Nepal Government" /></div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-100">
<div class="client-logo mt-20"><img src="/static/images/gallery/nepal-army.png" alt="Nepal Army" /></div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-100">
<div class="client-logo mt-20"><img src="/static/images/gallery/undp.png" alt="UNDP" /></div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-100">
<div class="client-logo mt-20"><img src="/static/images/gallery/batas.png" alt="Batas Organization" /></div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-100">
<div class="client-logo mt-20"><img src="/static/images/gallery/synergy.png" alt="Synergy" /></div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-100">
<div class="client-logo mt-20"><img src="/static/images/gallery/apollo.png" alt="Apollo Education" /></div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-100">
<div class="client-logo mt-20"><img src="/static/images/gallery/nepal-tour.png" alt="Snowy Dreams" /></div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-100">
<div class="client-logo add-plus mt-20"><a href="#"> <img src="/static/images/icons/add-1.png" alt="plus-icon" /></a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="gap_20">
<div class="container-fluid">
<div class="row">
<div class="col-sm-4 col-md-5 wow fadeInLeft">
<div class="company-text">
<h4> Professional Web & Mobile
Application Development
Company <span>never Let You Pay
More Than You Need</span> </h4>
</div>
</div>
<div class="col-sm-8 col-md-7 wow fadeInRight">
<div class="row">
<div class="col-xs-6 col-sm-6 col-md-6 col-100">
<div class="company-award mt-30 clearfix">
<div class="inner-box">
<div class="icon img-circle bg_blue wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms"> <span class="flaticon-icon"> <i class="far fa-lightbulb"></i> </span> </div>
</div>
<div class="award-info">
<h4>1000+ <span>Projects</span></h4>
</div>
</div>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-100">
<div class="company-award mt-30 clearfix">
<div class="inner-box">
<div class="icon img-circle bg_purple wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms"> <span class="flaticon-icon"> <i class="fas fa-calendar-alt"></i> </span> </div>
</div>
<div class="award-info">
<h4>10+ yrs <span>Experience</span></h4>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-6 col-sm-6 col-md-6 col-100">
<div class="company-award mt-30 clearfix">
<div class="inner-box">
<div class="icon img-circle bg_orange wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms"> <span class="flaticon-icon"> <i class="fas fa-users"></i> </span> </div>
</div>
<div class="award-info">
<h4>500+ <span>Customers</span></h4>
</div>
</div>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-100">
<div class="company-award mt-30 clearfix">
<div class="inner-box">
<div class="icon img-circle bg_bluedark wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms"> <span class="flaticon-icon"> <i class="fab fa-facebook-f"></i> </span> </div>
</div>
<div class="award-info">
<h4>13522+ <span>Followers</span></h4>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<div class="package-wrapper common-gap">
<div class="container-fluid">
<div class="budget-grid">
<div class="site-title packagetitle">
<h3>Special Offer !!!</h3>
</div>
<div class="viewpkg">
<a href="special-offer-packages.html" class="view-btn">View all Package</a>
</div>
<div class="row">
<div class="col-xs-12 col-sm-6 col-md-3 col-100 wow fadeInLeft">
<div class="package-list mt-20">
<h3>PACKAGES</h3>
<div class="price-tag">Pricing</div>
<ul>
<li>No of pages</li>
<li>CMS Development</li>
<li>Web form</li>
<li>Social media integration</li>
<li>Domain</li>
<li>Hosting</li>
<li>Image and video gallery</li>
<li>Chat integration</li>
<li>Hit counter</li>
<li>
<div class="btn-block"><i> * 13% VAT is exclusive</i></div>
</li>
</ul>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-3 col-100 wow fadeInUp">
<div class="package-list mt-20">
<h3>ECONOMIC</h3>
<div class="price-tag"><span>Rs.</span>9,999</div>
<ul>
<li>10 Pages</li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li>1 </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li>.np </li>
<li>500 MB</li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li>
<div class="btn-block"><a href="contact.html" class="btn btn-site pkg-btn">Contact </a></div>
</li>
</ul>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-3 col-100 wow fadeInUp">
<div class="package-list mt-20">
<h3 class="budget-bg">BUDGET</h3>
<div class="price-tag"><span>Rs.</span>24,999</div>
<ul>
<li>20 Pages</li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li>2 </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li>.com / .net / .org /.np </li>
<li>1 GB</li>
<li><i class="fas fa-check-circle right_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li>
<div class="btn-block"><a href="contact.html" class="btn btn-site pkg-btn">Contact </a></div>
</li>
</ul>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-100 wow fadeInRight">
<div class="package-list mt-20">
<h3>STANDARD</h3>
<div class="price-tag"><span>Rs.</span>34,999</div>
<ul>
<li>Unlimited</li>
<li><i class="fas fa-check-circle right_icon"></i></li>
<li>3 </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li>.com / .net / .org /.np </li>
<li>2 GB</li>
<li><i class="fas fa-check-circle right_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li>
<div class="btn-block"><a href="contact.html" class="btn btn-site pkg-btn">Contact </a></div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<section>
<div class="container-fluid">
<div class="contact-via">
<h3>Let's Talk</h3>
</div>
<div class="contactlist">
<ul>
<li><a href="https://www.facebook.com/webcreationnepal" target="_blank">
<div class="cont-bx  wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms">
<div class="cont-bx_icon cont-blue"><i class="fab fa-facebook-messenger"></i></div>
<h3 class="sub-heading">Facebook <br>
Messenger</h3>
<span class="text">fb.com/webcreationnepal</span> </div></a>
</li>
<li><a href="tel:+9779851029233">
<div class="cont-bx  wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms">
<div class="cont-bx_icon whatapp"><i class="fab fa-whatsapp"></i></div>
<h3 class="sub-heading">Whatsapp</h3>
<span class="text">977-9851029233</span> </div></a>
</li>
<li><a href="skype:webcreationinfo">
<div class="cont-bx wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms">
<div class="cont-bx_icon skype"><i class="fab fa-skype"></i></div>
<h3 class="sub-heading">Video Call</h3>
<span class="text">webcreationinfo</span> </div></a>
</li>
<li><a href="tel:+97714243968">
<div class="cont-bx  wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms">
<div class="cont-bx_icon phone"><i class="fas fa-phone"></i></div>
<h3 class="sub-heading">Phone </h3>
<span class="text">977 1 4243968 <br>977 1 4246249</span> </div></a>
</li>
<li><a href="cdn-cgi/l/email-protection.html#086b67667c696b7c487f6d6a6b7a6d697c616766666d786964266b6765">
<div class="cont-bx wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms">
<div class="cont-bx_icon email"><i class="far fa-envelope"></i></div>
<h3 class="sub-heading">Email</h3>
<span class="text"><span class="__cf_email__" data-cfemail="54373b3a203537201423313637263135203d3b3a7a373b397a3a24">[email&#160;protected]</span><br><span class="__cf_email__" data-cfemail="7b0c1815141d1d12181e3b1c161a121755181416">[email&#160;protected]</span></span> </div></a>
</li>
<li class="viber-call">
<a href="viber://chat?number=009779851029233">
<div class="cont-bx wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms">
<div class="cont-bx_icon viber"><i class="fab fa-viber"></i></div>
<h3 class="sub-heading">Viber</h3>
<span class="text">977 9851029233</span> </div>
</a>
</li>
</ul>
</div>
</div>
</section>
<div class="contact-wrapper common-gap">
<div class="container-fluid gap">
<div class="site-title">
<h6 class="recentwork"><span>Request A</span> Quote</h6>
</div>
<p class="title recentwork">If you like the price you get, just call us or email us and we'll discuss things in more detail.</P>
<div class="seprator-title"></div>
<div class="row">
<div class="col-sm-7 col-md-8 wow fadeInLeft">
<div class="contact-form mt-30">
<form action="https://www.webcreationnepal.com/process-contact.php" method="POST">
<div class="row">
<div class="col-sm-6 col-md-6 col-50">
<input type="text" name="name" placeholder="Your Name" required>
</div>
<div class="col-sm-6 col-md-6 col-50">
<input type="email" name="email" placeholder="Email" required>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-md-6 col-50">
<input type="number" name="Phone" placeholder="Phone" required>
</div>
<div class="col-sm-6 col-md-6 col-50">
<input type="text" name="Address" placeholder="Address" required>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-md-6 col-50">
<select id="exampleFormControlSelect1" name="service">
<option value="Services">Services</option>
<option value="Website Designing">Web Design & Development </option>
<option value="E-Commerce Solution">E-Commerce Solution</option>
<option value="Mobile Apps Development">Mobile Apps Development</option>
<option value="Digital Marketing">Digital Marketing</option>
<option value="Business Branding">Business Branding</option>
</select>
</div>
<div class="col-sm-6 col-md-6 col-50">
<select id="exampleFormControlSelect2" name="budget">
<option value="Budget">Budget</option>
<option value="Rs.9,999 - Rs.49,999">Rs.9,999 - Rs.49,999 </option>
<option value="Rs.50,000 - Rs.99,999">Rs.50,000 - Rs.99,999 </option>
<option value="Rs.100,000 - Rs.299,99">Rs.100,000 - Rs.299,999</option>
<option value="Rs.300,000 - Rs.499,999">Rs.300,000 - Rs.499,999</option>
<option value="Rs.500,000 and Above">Rs.500,000 and Above</option>
</select>
</div>
</div>
<textarea name="comment" placeholder="Your Message"></textarea>
<div class="row">
<div class="col-sm-8 col-md-8 col-50">
<div class="recaptha mt-10 clearfix">
<div id="recaptcha" class="g-recaptcha" data-sitekey="6LcE3KkUAAAAAPiSD31ufUwqS--htzaW_6-g7Sep"></div>
</div>
</div>
<div class="col-sm-4 col-md-4 col-50">
<div class="mt-30 clearfix">
<input type="submit" name="submit" class="get-quote" value="Get Quote">
</div>
</div>
</div>
</form>
</div>
</div>
<div class="col-sm-5 col-md-4 wow fadeInRight">
<div class="cnt-info mt-30">
<h2>Our Address</h2>
<span class="com-name">Web Creation Nepal Private Limited</span>
<div class="add-info mt-15"> <span><i class="far fa-envelope"></i> &nbsp;Email Address</span>
<p><a href="cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="71121e1f05101205310614131203141005181e1f5f121e1c5f1f01">[email&#160;protected]</a> <br>
<a href="cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="d6a1b5b8b9b0b0bfb5b396b1bbb7bfbaf8b5b9bb">[email&#160;protected]</a></P>
</div>
<div class="add-info mt-15"> <span><i class="fas fa-mobile-alt"></i> &nbsp;Phone Number</span>
<p> 977-01-5343968, 5346249, 9851029233</p>
</div>
<div class="add-info mt-15"> <span><i class="fas fa-map"></i> &nbsp;Our Location</span>
<p>P.O. BOX : 21239, Bagbazar (near to old buspark) <br>
Kathmandu Nepal</P>
</div>
</div>
</div>
</div>
</div>
</div>
<footer>
<div class="container-fluid gap">
<div class="social-widget">
<ul>
<li><a href="https://www.facebook.com/webcreationnepal" target="_blank"> <i class="fab fa-facebook-f"></i> </a></li>
<li><a href="https://twitter.com/webcreatnepal" target="_blank"> <i class="fab fa-twitter"></i> </a></li>
<li><a href="#"> <i class="fab fa-google"></i> </a></li>
<li><a href="https://www.linkedin.com/in/webcreationnepal/" target="_blank"> <i class="fab fa-linkedin-in"></i> </a></li>
</ul>
</div>
<div class="cpy-rit">
<p>Copyright © 2022 Web Creation Nepal. All Rights Reserved.</p>
</div>
</div>
</footer>
<div id="mySidenav" class="sidenav">
<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<a href="index-2.html" title="Web Creation Nepal"><i class="fas fa-home"></i> &nbsp;&nbsp;Home</a>
<a href="about.html" title="About us"><i class="fas fa-user"></i> &nbsp;&nbsp;About us</a>
<a href="services.html" title="Services"><i class="fas fa-cogs"></i> &nbsp;&nbsp;Services</a>
<a href="web-design-portfolio-nepal.html" title="Portfolio"><i class="fab fa-algolia"></i> &nbsp;&nbsp;Portfolio</a>
<a href="sectors.html" title="Sectors"><i class="fas fa-adjust"></i> &nbsp;&nbsp;Sectors</a>
<a href="special-offer-packages.html" title="Price"><i class="fas fa-tag"></i> &nbsp;&nbsp;Packages</a>
<a href="vacancy.html" title="Career"><i class="fas fa-sign-in-alt"></i> &nbsp;&nbsp;Career</a>
<a href="http://blog.webcreationnepal.com/" title="Blog" target="_blank"><i class="fab fa-blogger"></i> &nbsp;&nbsp;Blog</a>
<a href="http://client.webcreationnepal.com/" title="Support" target="_blank"><i class="fas fa-question-circle"></i> &nbsp;&nbsp;Support</a>
<a href="contact.html" title="Contact us"><i class="fas fa-address-book"></i> &nbsp;&nbsp;Contact us</a>
</div>

<div id="fb-root"></div>
<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v4.0'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = '../connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-customerchat" attribution="setup_tool" page_id="226064034091525" theme_color="#085b8f" logged_in_greeting="Namaste! How can we help you?" logged_out_greeting="Namaste! How can we help you?">
</div>
<script src="/static/js/vendor/jquery.min.js"></script>
<script src="/static/js/vendor/bootstrap.min.js" defer></script>
<script src="/static/js/vendor/wow.min.js" defer></script>
<script src="/static/js/vendor/owl.carousel.min.js"></script>
<script src="/static/js/script.js" defer></script>
<script src="/static/js/api.js" defer></script>
<script>
$(document).ready(function(){
    $("#testimonial-slider").owlCarousel({
        items:1,
        itemsDesktop:[1000,1],
        itemsDesktopSmall:[979,1],
        itemsTablet:[767,1],
        pagination:false,
        transitionStyle:"backSlide",
        navigation:true,
        navigationText:["",""],
        autoPlay:true
    });
});
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v2cb3a2ab87c5498db5ce7e6608cf55231689030342039" integrity="sha512-DI3rPuZDcpH/mSGyN22erN5QFnhl760f50/te7FTIYxodEF8jJnSFnfnmG/c+osmIQemvUrnBtxnMpNdzvx1/g==" data-cf-beacon='{"rayId":"7e9da6874e4518d1","version":"2023.4.0","r":1,"b":1,"token":"824f28a8ab0c41faa3b745d14ee614fd","si":100}' crossorigin="anonymous"></script>
</body>
</html>