<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Mobile App Development in Nepal | Web Creation Nepal</title>
<meta name="description" content="Looking for a mobile app development company in Nepal? App design and development services for both iOS and Android. Get in touch to know more!" />
<meta name="keywords" content="Mobile App Development Nepal, Mobile App Development Company Nepal, Best Mobile Application Developers Nepal, Android app Development in Nepal, IOS app development in nepal" />
<link rel="canonical" href="mobile-app-development-nepal.html" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Mobile Application Development Nepal | Web Creation Nepal" />
<meta property="og:description" content="Looking for a mobile app development company in Nepal? App design and development services for both iOS and Android. Get in touch to know more!" />
<meta property="og:url" content="mobile-app-development-nepal.html" />
<meta property="og:site_name" content="Mobile Application Development Nepal | Web Creation Nepal" />
<meta property="article:publisher" content="https://www.facebook.com/webcreationnepal/" />
<meta property="og:image" content="/static/images/icon.png" />
<link rel="shortcut icon" href="/static/images/icon.png" />
<meta name="robots" content="index,follow,all" />
<meta name="googlebot" content="index, follow" />
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/fontawesome-all.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/animate.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<script type="application/ld+json">{"@context":"http://schema.org","@type":"Blog","url":"http://blog.webcreationnepal.com"}</script><script type="application/ld+json">{"@context":"http://schema.org","@type":"Organization","name":"Web Creation Nepal Pvt. Ltd.","url":"https://www.webcreationnepal.com","sameAs":["https://www.facebook.com/webcreationnepal","https://twitter.com/webcreatnepal","https://www.linkedin.com/in/webcreationnepal/","https://www.instagram.com/webcreationinfo/","https://foursquare.com/user/99408348"], "aggregateRating": {"@type":"AggregateRating","ratingValue": "90","bestRating": "100","ratingCount": "120"}}</script>
</head>
<body>
<header>
<div class="container-fluid gap">
<div class="row">
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="logo"> <a href="index-2.html"><img src="/static/images/logo.png" alt="Web Creation Nepal" /></a> </div>
</div>
<div class="col-xs-8 col-sm-8 col-md-8">
<div class="contact-info clearfix">
<ul>
<li>
<div class="icon-hd"><img src="/static/images/icons/phone.png" alt="Phone" /></div>
<div class="cont-hd">Phone Support<span><a href="tel:+9779851029233">977-01-5343968 / 9851029233</a></span></div>
</li>
<li class="hidden-xs">
<div class="icon-hd"><img src="/static/images/icons/time.png" alt="Opening Time" /></div>
<div class="cont-hd">09.00 - 06.00<span>Sunday to Friday</span></div>
</li>
<li>
<div class="icon-hd"><img src="/static/images/icons/email.png" alt="Email" /></div>
<div class="cont-hd">Email Support<span><a href="cdn-cgi/l/email-protection.html#ff9c90918b9e9c8bbf889a9d9c8d9a9e8b969091919a8f9e93d19c9092"><span class="__cf_email__" data-cfemail="096a66677d686a7d497e6c6b6a7b6c687d606667676c796865276a6664">[email&#160;protected]</span></a></span></div>
</li>
</ul>
</div>
</div>
<div class="col-xs-1 col-sm-1 col-md-1">
<div class="nav-side">
<span onclick="openNav()"><i class="fas fa-bars"></i></span>
</div>
</div>
</div>
<div class="mbl-view"><i class="fas fa-phone-volume"></i>&nbsp;&nbsp;<a href="tel:+9779851029233">+977 9851029233</a></div>
</div>
</header>
<section class="service_detail-page gap_30">
<div class="container-fluid gap">
<div class="row">
<div class="col-sm-8 col-md-8 wow fadeInLeft">
<div class="ser-wrap mt-20">
<h1>Mobile Application Development in Nepal</h1>
<p>We are specializes in native and multi-platform mobile app development. The majority of our mobile apps designed for iOS and Android platforms. However, we've also built apps for windows mobile. We are able to provide self-maintainable mobile apps with a secure website backend, saving you money in going back to developers for minor changes to your mobile app.</p>
<p>We iPhone, iPad and Android mobile app development is done in either native code for performance or multi-platform code for budget, we are able to provide a self maintainable app where you can update the content yourself via a website admin, saving you money in the long term.</p>
<div class="ser-list_info mt-20">
<div class="row">
<div class="col-sm-6 col-md-6 col-50">
<ul class="ser_list">
<li><i class="fas fa-burn"></i> Specialized app developers in Nepal</li>
<li><i class="fas fa-burn"></i>24*7 follow up with customers</li>
<li><i class="fas fa-burn"></i>In-house development strategy</li>
</ul>
</div>
<div class="col-sm-6 col-md-6 col-50">
<ul class="ser_list">
<li><i class="fas fa-burn"></i>Custom Mobile App Development</li>
<li><i class="fas fa-burn"></i>QA and Testing Services</li>
<li><i class="fas fa-burn"></i> Technology Consulting</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="col-sm-4 col-md-4 wow fadeInRight">
<div class="mt-15"> <img src="/static/images/gallery/mobile-app-development-in-nepal.png" alt="Mobile App Development in Nepal"> </div>
</div>
</div>
<div class="ser-list_info mt-20">
<h2>We offer the below native and hybrid Mobile Apps development services</h2>
<div class="row">
<div class="col-sm-4 col-md-4 col-50">
<ul class="ser_list">
<li><a href="android-app-development-nepal.html" title=" Android App development in Nepal"><i class="fab fa-android"></i> Android App development</a></li>
<li><a href="ios-app-development-nepal.html" title="iPhone / IOS App development in Nepal"><i class="fab fa-apple"></i> iPhone / IOS App development</a></li>
<li><a href="hybrid-app-development-nepal.html" title=" Hybrid App development in Nepal"><i class="fab fa-react"></i> Hybrid App development</a></li>
<li><a href="native-app-development-nepal.html" title="Native App development in Nepal"><i class="fab fa-creative-commons-share"></i> Native App development</a></li>
</ul>
</div>
</div>
</div>
</div>
</section>
<section class="portfolio-page gap_20">
<div class="container-fluid gap">
<div class="site-title">
<h6><span>Some of Our</span> Recent Mobile App Development</h6>
</div>
<div class="row">
<div class="col-md-3 col-sm-3 col-50 filter ecommerce">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/gallery/pcn-nepal.jpg" alt="PNC Nepal">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">PNC Nepal</h3>
</div>
</a> </div>
</div>
<div class="ol-md-3 col-sm-3 col-50 filter ecommerce">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/gallery/grameen-krishi.jpg" alt="Grameen Krishi">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Grameen Krishi</h3>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter ecommerce">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/gallery/sewa-cart.jpg" alt="Sewa Cart">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Sewa Cart</h3>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter ecommerce">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/gallery/sushi-chet.jpg" alt="Sushichet">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Sushichet</h3>
</div>
</a> </div>
</div>
</div>
</div>
</section>
<section class="usetechnique">
<div class="container-fluid gap">
<div class="row">
<div class="col-sm-6 col-md-6 wow fadeInLeft">
<div class="design-info">
<h2>Mobile App Development Service</h2>
<p class="desc">Design begins from research of needs of your target audience. The second step is prototyping and testing. This ensures that you get not just a pretty picture, but the finished product which fulfills your purposes</P>
<a href class="read">Read More</a> </div>
</div>
<div class="col-sm-6 col-md-6 wow fadeInLeft">
<div class="use-tools">
<h2>Best Codes Tool</h2>
<ul>
<li><i class="fab fa-android"></i></li>
<li><i class="fab fa-html5"></i></li>
<li><i class="fab fa-react"></i></li>
<li><i class="fab fa-app-store-ios"></i></li>
<li><i class="fab fa-apple"></i></li>
<li><i class="fab fa-windows"></i></li>
<li><i class="fas fa-mobile-alt"></i></li>
</ul>
</div>
</div>
</div>
</div>
</section>
<div class="package-wrapper common-gap">
<div class="container-fluid">
<div class="budget-grid">
<div class="site-title packagetitle">
<h3>Android App Developmenrt Packages !!!</h3>
</div>
<div class="row">
<div class="col-xs-12 col-sm-6 col-md-3 col-100 wow fadeInLeft">
<div class="package-list mt-20">
<h3>PACKAGES</h3>
<div class="price-tag">Pricing</div>
<ul>
<li>Personal Profile</li>
<li>Product Catalogue</li>
<li>Unlimited Product</li>
<li>Direct Search</li>
<li>Image Zoom</li>
<li>Product Description </li>
<li>Placing an order</li>
<li>Strong Security</li>
<li>Order History</li>
<li>Setting</li>
<li>Advance Filters</li>
<li>Augmented reality</li>
<li>Push Notifications</li>
<li>Live Chat</li>
<li>Wishlist</li>
<li>Multiple payment options</li>
<li>E-gift card</li>
<li>Discount and Coupon </li>
<li>Serious Shipment Offers</li>
<li>Shipment Tracker</li>
<li>Rates and Reviews</li>
<li>Product Exchange / return</li>
<li>Support</li>
<li>
<div class="btn-block"><i> * 13% VAT is exclusive</i></div>
</li>
</ul>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-3 col-100 wow fadeInUp">
<div class="package-list mt-20">
<h3>ECONOMIC</h3>
<div class="price-tag"><span>Rs.</span>80,000</div>
<ul>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li>
<div class="btn-block"><a href="contact.html" class="btn btn-site pkg-btn">Contact </a></div>
</li>
</ul>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-3 col-100 wow fadeInUp">
<div class="package-list mt-20">
<h3 class="budget-bg">BUDGET</h3>
<div class="price-tag"><span>Rs.</span>150,000</div>
<ul>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle right_icon"></i></li>
<li><i class="fas fa-times-circle right_icon"></i></li>
<li><i class="fas fa-times-circle right_icon"></i></li>
<li><i class="fas fa-times-circle right_icon"></i></li>
<li><i class="fas fa-times-circle right_icon"></i></li>
<li><i class="fas fa-times-circle right_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle right_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li>
<div class="btn-block"><a href="contact.html" class="btn btn-site pkg-btn">Contact </a></div>
</li>
</ul>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-3 col-100 wow fadeInRight">
<div class="package-list mt-20">
<h3>STANDARD</h3>
<div class="price-tag"><span>Rs.</span>200,000</div>
<ul>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle right_icon"></i></li>
<li><i class="fas fa-times-circle right_icon"></i></li>
<li><i class="fas fa-times-circle right_icon"></i></li>
<li><i class="fas fa-times-circle right_icon"></i></li>
<li><i class="fas fa-times-circle right_icon"></i></li>
<li><i class="fas fa-times-circle right_icon"></i></li>
<li><i class="fas fa-times-circle right_icon"></i></li>
<li><i class="fas fa-times-circle right_icon"></i></li>
<li><i class="fas fa-times-circle right_icon"></i></li>
<li><i class="fas fa-times-circle right_icon"></i></li>
<li><i class="fas fa-times-circle right_icon"></i></li>
<li><i class="fas fa-times-circle right_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li>
<div class="btn-block"><a href="contact.html" class="btn btn-site pkg-btn">Contact </a></div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<section class="gap_30">
<div class="container-fluid gab">
<div class="discuss-project text-center">
<h2>Discuss Your Project</h2>
<p>We are a team of 20+professionals, who deliver only top quality web solutions.</p>
<div class="btn-block"><a href="special-offer-packages.html" class="btn btnstart_chat quote">Special Offer</a></div>
<div class="call mt-20" style="font-size:24px;"><i class="fas fa-mobile-alt"></i>&nbsp;977-01-5343968, <span>5346249</span></div>
</div>
</div>
</section>
<div class="contact-wrapper common-gap">
<div class="container-fluid gap">
<div class="site-title">
<h6 class="recentwork"><span>Request A</span> Quote</h6>
</div>
<p class="title recentwork">If you like the price you get, just call us or email us and we'll discuss things in more detail.</P>
<div class="seprator-title"></div>
<div class="row">
<div class="col-sm-7 col-md-8 wow fadeInLeft">
<div class="contact-form mt-30">
<form action="https://www.webcreationnepal.com/process-contact.php" method="POST">
<div class="row">
<div class="col-sm-6 col-md-6 col-50">
<input type="text" name="name" placeholder="Your Name" required>
</div>
<div class="col-sm-6 col-md-6 col-50">
<input type="email" name="email" placeholder="Email" required>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-md-6 col-50">
<input type="number" name="Phone" placeholder="Phone" required>
</div>
<div class="col-sm-6 col-md-6 col-50">
<input type="text" name="Address" placeholder="Address" required>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-md-6 col-50">
<select id="exampleFormControlSelect1" name="service">
<option value="Services">Services</option>
<option value="Website Designing">Web Design & Development </option>
<option value="E-Commerce Solution">E-Commerce Solution</option>
<option value="Mobile Apps Development">Mobile Apps Development</option>
<option value="Digital Marketing">Digital Marketing</option>
<option value="Business Branding">Business Branding</option>
</select>
</div>
<div class="col-sm-6 col-md-6 col-50">
<select id="exampleFormControlSelect2" name="budget">
<option value="Budget">Budget</option>
<option value="Rs.9,999 - Rs.49,999">Rs.9,999 - Rs.49,999 </option>
<option value="Rs.50,000 - Rs.99,999">Rs.50,000 - Rs.99,999 </option>
<option value="Rs.100,000 - Rs.299,99">Rs.100,000 - Rs.299,999</option>
<option value="Rs.300,000 - Rs.499,999">Rs.300,000 - Rs.499,999</option>
<option value="Rs.500,000 and Above">Rs.500,000 and Above</option>
</select>
</div>
</div>
<textarea name="comment" placeholder="Your Message"></textarea>
<div class="row">
<div class="col-sm-8 col-md-8 col-50">
<div class="recaptha mt-10 clearfix">
<div id="recaptcha" class="g-recaptcha" data-sitekey="6LcE3KkUAAAAAPiSD31ufUwqS--htzaW_6-g7Sep"></div>
</div>
</div>
<div class="col-sm-4 col-md-4 col-50">
<div class="mt-30 clearfix">
<input type="submit" name="submit" class="get-quote" value="Get Quote">
</div>
</div>
</div>
</form>
</div>
</div>
<div class="col-sm-5 col-md-4 wow fadeInRight">
<div class="cnt-info mt-30">
<h2>Our Address</h2>
<span class="com-name">Web Creation Nepal Private Limited</span>
<div class="add-info mt-15"> <span><i class="far fa-envelope"></i> &nbsp;Email Address</span>
<p><a href="cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="d2b1bdbca6b3b1a692a5b7b0b1a0b7b3a6bbbdbcbcb7a2b3befcb1bdbf">[email&#160;protected]</a> <br>
<a href="cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="2a5d4944454c4c43494f6a4d474b434604494547">[email&#160;protected]</a></P>
</div>
<div class="add-info mt-15"> <span><i class="fas fa-mobile-alt"></i> &nbsp;Phone Number</span>
<p> 977-01-5343968, 5346249, 9851029233</p>
</div>
<div class="add-info mt-15"> <span><i class="fas fa-map"></i> &nbsp;Our Location</span>
<p>P.O. BOX : 21239, Bagbazar (near to old buspark) <br>
Kathmandu Nepal</P>
</div>
</div>
</div>
</div>
</div>
</div>
<section class="gap_30">
<div class="container-fluid gap">
<div class="row wow fadeInRight">
<div class="col-sm-3 col-md-3 col-50">
<div class="company-award mt-20 clearfix">
<div class="inner-box">
<div class="icon img-circle bg_blue wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms"> <span class="flaticon-icon"> <i class="far fa-lightbulb"></i> </span> </div>
</div>
<div class="award-info">
<h4>1000+ <span>PROJECT</span></h4>
</div>
</div>
</div>
<div class="col-sm-3 col-md-3 col-50">
<div class="company-award mt-20 clearfix">
<div class="inner-box">
<div class="icon img-circle bg_purple wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms"> <span class="flaticon-icon"> <i class="fas fa-calendar-alt"></i> </span> </div>
</div>
<div class="award-info">
<h4>10+ yrs <span>experience</span></h4>
</div>
</div>
</div>
<div class="col-sm-3 col-md-3 col-50">
<div class="company-award mt-20 clearfix">
<div class="inner-box">
<div class="icon img-circle bg_orange wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms"> <span class="flaticon-icon"> <i class="fas fa-users"></i> </span> </div>
</div>
<div class="award-info">
<h4>500+ <span>Customers</span></h4>
</div>
</div>
</div>
<div class="col-sm-3 col-md-3 col-50">
<div class="company-award mt-20 clearfix">
<div class="inner-box">
<div class="icon img-circle bg_bluedark wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms"> <span class="flaticon-icon"> <i class="fab fa-facebook-f"></i> </span> </div>
</div>
<div class="award-info">
<h4>13522+ <span>Followers</span></h4>
</div>
</div>
</div>
</div>
</div>
</section>
<footer>
<div class="container-fluid gap">
<div class="social-widget">
<ul>
<li><a href="https://www.facebook.com/webcreationnepal" target="_blank"> <i class="fab fa-facebook-f"></i> </a></li>
<li><a href="https://twitter.com/webcreatnepal" target="_blank"> <i class="fab fa-twitter"></i> </a></li>
<li><a href="#"> <i class="fab fa-google"></i> </a></li>
<li><a href="https://www.linkedin.com/in/webcreationnepal/" target="_blank"> <i class="fab fa-linkedin-in"></i> </a></li>
</ul>
</div>
<div class="cpy-rit">
<p>Copyright © 2022 Web Creation Nepal. All Rights Reserved.</p>
</div>
</div>
</footer>
<div id="mySidenav" class="sidenav">
<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<a href="index-2.html" title="Web Creation Nepal"><i class="fas fa-home"></i> &nbsp;&nbsp;Home</a>
<a href="about.html" title="About us"><i class="fas fa-user"></i> &nbsp;&nbsp;About us</a>
<a href="services.html" title="Services"><i class="fas fa-cogs"></i> &nbsp;&nbsp;Services</a>
<a href="web-design-portfolio-nepal.html" title="Portfolio"><i class="fab fa-algolia"></i> &nbsp;&nbsp;Portfolio</a>
<a href="sectors.html" title="Sectors"><i class="fas fa-adjust"></i> &nbsp;&nbsp;Sectors</a>
<a href="vacancy.html" title="Career"><i class="fas fa-sign-in-alt"></i> &nbsp;&nbsp;Career</a>
<a href="special-offer-packages.html" title="Price"><i class="fas fa-tag"></i> &nbsp;&nbsp;Packages</a>
<a href="http://blog.webcreationnepal.com/" title="Blog" target="_blank"><i class="fab fa-blogger"></i> &nbsp;&nbsp;Blog</a>
<a href="http://client.webcreationnepal.com/" title="Support" target="_blank"><i class="fas fa-question-circle"></i> &nbsp;&nbsp;Support</a>
<a href="contact.html" title="Contact us"><i class="fas fa-address-book"></i> &nbsp;&nbsp;Contact us</a>
</div>
<div id="fb-root"></div>
<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v4.0'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = '../connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-customerchat" attribution="setup_tool" page_id="226064034091525" theme_color="#085b8f" logged_in_greeting="Namaste! How can we help you?" logged_out_greeting="Namaste! How can we help you?">
</div>
<script src="/static/js/vendor/jquery.min.js"></script>
<script src="/static/js/vendor/bootstrap.min.js"></script>
<script src="/static/js/vendor/wow.min.js"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/api.js"></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v2cb3a2ab87c5498db5ce7e6608cf55231689030342039" integrity="sha512-DI3rPuZDcpH/mSGyN22erN5QFnhl760f50/te7FTIYxodEF8jJnSFnfnmG/c+osmIQemvUrnBtxnMpNdzvx1/g==" data-cf-beacon='{"rayId":"7e9da7a0aad4381c","version":"2023.4.0","r":1,"b":1,"token":"824f28a8ab0c41faa3b745d14ee614fd","si":100}' crossorigin="anonymous"></script>
</body>
</html>
