<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SEO Service in Nepal | Digital Marketing Service Nepal</title>
<meta name="description" content="We offer website promotions and SEO services in Nepal. We work for results and best optimization for the client websites to achieve more ROI/business.">
<meta name="keywords" content="Website Promotion Nepal, SEO and SEM services Nepal">
<meta property="og:title" content="SEO Service in Nepal | Digital Marketing Service Nepal" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Web Creation Nepal" />
<meta property="og:url" content="seo.html" />
<meta property="og:description" content="We offer website promotions and SEO services in Nepal. We work for results and best optimization for the client websites to achieve more ROI/business." />
<meta property="og:image" content="/static/images/icon.png" />
<meta name="author" content="Web Creation Nepal" />
<meta name="company-Email" content="info@webcreationnepal.com" />
<meta name="copyright" content="2022 Web Creation Nepal" />
<meta name="coverage" content="Worldwide" />
<meta name="revisit_after" content="30 days" />
<meta name="identifier" content="index.html" />
<meta name="language" content="English" />
<link rel="shortcut icon" href="/static/images/icon.png" />
<meta name="robots" content="follow" />
<meta name="googlebot" content="index, follow" />
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/fontawesome-all.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/animate.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<script type="application/ld+json">{"@context":"http://schema.org","@type":"Blog","url":"http://blog.webcreationnepal.com"}</script><script type="application/ld+json">{"@context":"http://schema.org","@type":"Organization","name":"Web Creation Nepal Pvt. Ltd.","url":"https://www.webcreationnepal.com","sameAs":["https://www.facebook.com/webcreationnepal","https://twitter.com/webcreatnepal","https://www.linkedin.com/in/webcreationnepal/","https://www.instagram.com/webcreationinfo/","https://foursquare.com/user/99408348"], "aggregateRating": {"@type":"AggregateRating","ratingValue": "90","bestRating": "100","ratingCount": "120"}}</script>
</head>
<body>
<header>
<div class="container-fluid gap">
<div class="row">
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="logo"> <a href="index-2.html"><img src="/static/images/logo.png" alt="Web Creation Nepal" /></a> </div>
</div>
<div class="col-xs-8 col-sm-8 col-md-8">
<div class="contact-info clearfix">
<ul>
<li>
<div class="icon-hd"><img src="/static/images/icons/phone.png" alt="Phone" /></div>
<div class="cont-hd">Custom Support<span>977-01-5343968</span></div>
</li>
<li class="hidden-xs">
<div class="icon-hd"><img src="/static/images/icons/time.png" alt="Opening Time" /></div>
<div class="cont-hd">09.00 - 06.00<span>Sunday to Friday</span></div>
</li>
<li>
<div class="icon-hd"><img src="/static/images/icons/email.png" alt="Email" /></div>
<div class="cont-hd">Email to today<span><a href="cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="a2c1cdccd6c3c1d6e2d5c7c0c1d0c7c3d6cbcdccccc7d2c3ce8cc1cdcf">[email&#160;protected]</a></span></div>
</li>
</ul>
</div>
</div>
<div class="col-xs-1 col-sm-1 col-md-1">
<div class="nav-side">
<span onclick="openNav()"><i class="fas fa-bars"></i></span>
</div>
</div>
</div>
<div class="mbl-view"><i class="fas fa-phone-volume"></i>&nbsp;&nbsp;+977 9851029233</div>
</div>
</header>
<section class="service_detail-page gap_30">
<div class="container-fluid gap">
<div class="row">
<div class="col-sm-8 col-md-8 wow fadeInLeft">
<div class="ser-wrap mt-20">
<h1>SEO and Web Promotion Service in Nepal</h1>
<p>Search Engine Optimization & Internet Promotion is vital today, if you want your site to appear in search results. The foundation of a successful web promotion & optimization of the position of a web page in search engines list is the technical design which regarding the underlying code defines at once how friendly a web page is to the search engines and plays a vital role for the future of this page in search engines.
</p>
<p><a href="index-2.html">Web Creation Nepal</a> provides optimized content for SEO. Incorporate high end content management tools for easy publishing. Complete audio/visual, Offshore Web Development Companymultimedia, graphic and text documentation. Outsourcing has proved to be a deciding factor for companies that offer cost and quality edge in a competitive market.</p>
<div class="ser-list_info mt-20">
<div class="row">
<div class="col-sm-6 col-md-6 col-50">
<ul class="ser_list">
<li><i class="fas fa-burn"></i> Search Engine Promotion</li>
<li><i class="fas fa-burn"></i> Social Media Optimization (SMO)</li>
<li><i class="fas fa-burn"></i> Local Directory Submission</li>
</ul>
</div>
<div class="col-sm-6 col-md-6 col-50">
<ul class="ser_list">
<li><i class="fas fa-burn"></i>Banner and Ad Placements (PPC)</li>
<li><i class="fas fa-burn"></i>Email Designing / Marketing</li>
<li><i class="fas fa-burn"></i> Content Marketing</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="col-sm-4 col-md-4 wow fadeInRight">
<div class="mt-15"> <img src="/static/images/gallery/website-promotion-in-nepal.jpg" alt="Web Promotion in Nepal"> </div>
</div>
</div>
</div>
</section>
<section class="portfolio-page gap_20">
<div class="container-fluid gap">
<div class="site-title">
<h6><span>Some of Our</span> Recent Web Promotion work</h6>
</div>
<div class="row">
<div class="col-md-3 col-sm-3 col-50 filter ecommerce">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/global-research-min.jpg" alt="Global Research">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Global Research</h3>
</div>
</a> </div>
</div>
<div class="ol-md-3 col-sm-3 col-50 filter ecommerce">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/manakamana-rising-min.jpg" alt="Manakamana Rising">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Manakamana Rising</h3>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter ecommerce">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/snowy-min.jpg" alt="Snowy Dream World Treks">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Snowy Dream World Treks</h3>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter ecommerce">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/nepal-govt-min.jpg" alt="Nepal Government">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Nepal Government</h3>
</div>
</a> </div>
</div>
</div>
</div>
</section>
<section class="usetechnique">
<div class="container-fluid gap">
<div class="row">
<div class="col-sm-6 col-md-6 wow fadeInLeft">
<div class="design-info">
<h2>Web Promotion / SEO Services </h2>
<p class="desc">Design begins from research of needs of your target audience. The second step is prototyping and testing. This ensures that you get not just a pretty picture, but the finished product which fulfills your purposes</P>
<a href class="read">Read More</a> </div>
</div>
<div class="col-sm-6 col-md-6 wow fadeInLeft">
<div class="use-tools">
<h2>Web Promotion Tool</h2>
<ul>
<li><i class="fab fa-google"></i></li>
<li><i class="fab fa-yahoo"></i></li>
<li><i class="fab fa-facebook-square"></i></li>
<li><i class="fab fa-youtube"></i></li>
<li><i class="fab fa-swatchbook"></i></li>
<li><i class="fab fa-windows"></i></li>
<li><i class="fab fa-html5"></i></li>
<li><i class="fab fa-yelp"></i></li>
<li><i class="fab fa-tripadvisor"></i> </li>
<li><i class="fab fa-instagram"></i> </li>
<li><i class="fab fa-stripe-s"></i> </li>
</ul>
</div>
</div>
</div>
</div>
</section>
<div class="package-wrapper hidden-xs common-gap">
<div class="container-fluid">
<div class="budget-grid">
<div class="site-title packagetitle">
<h3>Web Promotion / SEO Packages that fit Every Budget !!!</h3>
</div>
<div class="row">
<div class="col-xs-3 col-sm-3 col-md-3 col-100 wow fadeInLeft">
<div class="package-list mt-20">
<h3>PACKAGES</h3>
<div class="price-tag">Pricing</div>
<ul>
<li>No. of keywords</li>
<li>Time Frame</li>
<li>Search Engine Friendly Analysis</li>
<li>Link Popularity Analysis </li>
<li>Keywords Research and Analysis</li>
<li>Duplicate content analysis </li>
<li>Website Structure analysis</li>
<li>Competitor Analysis</li>
<li>Detailed SEO Plan</li>
<li>Broken Links Check</li>
<li>Page Size Check</li>
<li>W3C Validation Check*</li>
<li>Browser Compatibility Check</li>
<li>URL Mapping</li>
<li>URL Rewriting</li>
<li>Title Tag Optimization</li>
<li>Meta Tags Optimization</li>
<li>Keyword Density, Proximity</li>
<li>Anchor Text Optimization</li>
<li>Alt Tag Optimization</li>
<li>Custom 404 error page setup</li>
<li>Google Analytic Account Setup</li>
<li>Webmaster Tools </li>
<li>SEO Header Tag Optimization</li>
<li>Exiting Content Optimization</li>
<li>New Page Creation</li>
<li>URL Canonicalization Check</li>
<li>Robots.Txt Optimization</li>
<li>XML and TXT Sitemap Generation</li>
<li>Social Bookmarking</li>
<li>Article Submission</li>
<li>Article Social Bookmarking</li>
<li>Press Release Submission</li>
<li>Classifieds Submissions</li>
<li>Article Writing</li>
<li>Press Release Writing</li>
<li>Review Writing</li>
<li>Local Search Engine Submission</li>
<li>Updating local listing Pages</li>
<li>GEO Tagging</li>
<li>Google Business Listing</li>
<li>Yahoo Basic Business Listing</li>
<li>Bing Places Listing</li>
<li>Blog Creation</li>
<li>Blog Writing#</li>
<li>Blog Directory Submission</li>
<li>Blog RSS Submission</li>
<li>Facebook Fan Page Creation</li>
<li>Regular Updates</li>
<li>Facebook TimeLine Design</li>
<li>Facebook Fan Page Like Integration</li>
<li>Twitter Page Creation</li>
<li>Regular Updates</li>
<li>Twitter Background Design</li>
<li>Twitter Follow Button Integration</li>
<li>Regular Updates</li>
<li>LinkedIn Profile Creation</li>
<li>LinkedIn Company Page Creation</li>
<li>Regular Updates</li>
<li>Photo Sharing</li>
<li>Web 2.0 Profile Creation</li>
<li>YouTube Channel Creation</li>
<li>Video Submission</li>
<li>Website Designing Consultation</li>
<li>Landing Page Analysis</li>
<li>Enquiry Page Analysis</li>
<li>Mobile Compatibility Suggestions</li>
<li>Traffic Log Analysis</li>
<li>Keywords Ranking Report</li>
<li>Monthly Progress Reports</li>
<li>Customer Support</li>
<li>
<div class="btn-block"><i> * 13% VAT is exclusive</i></div>
</li>
</ul>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-100 wow fadeInUp">
<div class="package-list mt-20">
<h3>ECONOMIC</h3>
<div class="price-tag"><span>Rs.</span>30,000</div>
<ul>
<li>5</li>
<li>3 Months</li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li>Up to 10 pages</li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li>Up to 3 </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li>
<div class="btn-block"><a href="contact.html" class="btn btn-site pkg-btn">Contact </a></div>
</li>
</ul>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-100 wow fadeInUp">
<div class="package-list mt-20">
<h3 class="budget-bg">BUDGET</h3>
<div class="price-tag"><span>Rs.</span>50,000</div>
<ul>
<li>10</li>
<li>3 Months</li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li>Up to 20 pages</li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li>Up to 5 </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-times-circle cross_icon"></i></li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li>
<div class="btn-block"><a href="contact.html" class="btn btn-site pkg-btn">Contact </a></div>
</li>
</ul>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-100 wow fadeInRight">
<div class="package-list mt-20">
<h3>STANDARD</h3>
<div class="price-tag"><span>Rs.</span>75,000</div>
<ul>
<li>15</li>
<li>3 Months</li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li>Up to 40 pages</li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li>Up to 10 </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li><i class="fas fa-check-circle right_icon"></i> </li>
<li>
<div class="btn-block"><a href="contact.html" class="btn btn-site pkg-btn">Contact </a></div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<section class="gap_30">
<div class="container-fluid gab">
<div class="discuss-project text-center">
<h2>Discuss Your Project</h2>
<p>We are a team of 20+professionals, who deliver only top quality web solutions.</p>
<div class="btn-block"><a href="special-offer-packages.html" class="btn btnstart_chat quote">Special Offer</a></div>
<div class="call mt-20" style="font-size:24px;"><i class="fas fa-mobile-alt"></i>&nbsp;977-01-5343968, <span>5346249</span></div>
</div>
</div>
</section>
<div class="contact-wrapper common-gap">
<div class="container-fluid gap">
<div class="site-title">
<h6 class="recentwork"><span>Request A</span> Quote</h6>
</div>
<p class="title recentwork">If you like the price you get, just call us or email us and we'll discuss things in more detail.</P>
<div class="seprator-title"></div>
<div class="row">
<div class="col-sm-7 col-md-8 wow fadeInLeft">
<div class="contact-form mt-30">
<form action="https://www.webcreationnepal.com/process-contact.php" method="POST">
<div class="row">
<div class="col-sm-6 col-md-6 col-50">
<input type="text" name="name" placeholder="Your Name" required>
</div>
<div class="col-sm-6 col-md-6 col-50">
<input type="email" name="email" placeholder="Email" required>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-md-6 col-50">
<input type="number" name="Phone" placeholder="Phone" required>
</div>
<div class="col-sm-6 col-md-6 col-50">
<input type="text" name="Address" placeholder="Address" required>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-md-6 col-50">
<select id="exampleFormControlSelect1" name="service">
<option value="Services">Services</option>
<option value="Website Designing">Web Design & Development </option>
<option value="E-Commerce Solution">E-Commerce Solution</option>
<option value="Mobile Apps Development">Mobile Apps Development</option>
<option value="Digital Marketing">Digital Marketing</option>
<option value="Business Branding">Business Branding</option>
</select>
</div>
<div class="col-sm-6 col-md-6 col-50">
<select id="exampleFormControlSelect2" name="budget">
<option value="Budget">Budget</option>
<option value="Rs.9,999 - Rs.49,999">Rs.9,999 - Rs.49,999 </option>
<option value="Rs.50,000 - Rs.99,999">Rs.50,000 - Rs.99,999 </option>
<option value="Rs.100,000 - Rs.299,99">Rs.100,000 - Rs.299,999</option>
<option value="Rs.300,000 - Rs.499,999">Rs.300,000 - Rs.499,999</option>
<option value="Rs.500,000 and Above">Rs.500,000 and Above</option>
</select>
</div>
</div>
<textarea name="comment" placeholder="Your Message"></textarea>
<div class="row">
<div class="col-sm-8 col-md-8 col-50">
<div class="recaptha mt-10 clearfix">
<div id="recaptcha" class="g-recaptcha" data-sitekey="6LcE3KkUAAAAAPiSD31ufUwqS--htzaW_6-g7Sep"></div>
</div>
</div>
<div class="col-sm-4 col-md-4 col-50">
<div class="mt-30 clearfix">
<input type="submit" name="submit" class="get-quote" value="Get Quote">
</div>
</div>
</div>
</form>
</div>
</div>
<div class="col-sm-5 col-md-4 wow fadeInRight">
<div class="cnt-info mt-30">
<h2>Our Address</h2>
<span class="com-name">Web Creation Nepal Private Limited</span>
<div class="add-info mt-15"> <span><i class="far fa-envelope"></i> &nbsp;Email Address</span>
<p><a href="cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="781b17160c191b0c380f1d1a1b0a1d190c111716161d081914561b1715">[email&#160;protected]</a> <br>
<a href="cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="770014191811111e141237101a161e1b5914181a">[email&#160;protected]</a></P>
</div>
<div class="add-info mt-15"> <span><i class="fas fa-mobile-alt"></i> &nbsp;Phone Number</span>
<p> 977-01-5343968, 5346249, 9851029233</p>
</div>
<div class="add-info mt-15"> <span><i class="fas fa-map"></i> &nbsp;Our Location</span>
<p>P.O. BOX : 21239, Bagbazar (near to old buspark) <br>
Kathmandu Nepal</P>
</div>
</div>
</div>
</div>
</div>
</div>
<section class="gap_30">
<div class="container-fluid gap">
<div class="row wow fadeInRight">
<div class="col-sm-3 col-md-3 col-50">
<div class="company-award mt-20 clearfix">
<div class="inner-box">
<div class="icon img-circle bg_blue wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms"> <span class="flaticon-icon"> <i class="far fa-lightbulb"></i> </span> </div>
</div>
<div class="award-info">
<h4>1000+ <span>PROJECT</span></h4>
</div>
</div>
</div>
<div class="col-sm-3 col-md-3 col-50">
<div class="company-award mt-20 clearfix">
<div class="inner-box">
<div class="icon img-circle bg_purple wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms"> <span class="flaticon-icon"> <i class="fas fa-calendar-alt"></i> </span> </div>
</div>
<div class="award-info">
<h4>10+ yrs <span>experience</span></h4>
</div>
</div>
</div>
<div class="col-sm-3 col-md-3 col-50">
<div class="company-award mt-20 clearfix">
<div class="inner-box">
<div class="icon img-circle bg_orange wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms"> <span class="flaticon-icon"> <i class="fas fa-users"></i> </span> </div>
</div>
<div class="award-info">
<h4>500+ <span>Customers</span></h4>
</div>
</div>
</div>
<div class="col-sm-3 col-md-3 col-50">
<div class="company-award mt-20 clearfix">
<div class="inner-box">
<div class="icon img-circle bg_bluedark wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms"> <span class="flaticon-icon"> <i class="fab fa-facebook-f"></i> </span> </div>
</div>
<div class="award-info">
<h4>13522+ <span>Followers</span></h4>
</div>
</div>
</div>
</div>
</div>
</section>
<footer>
<div class="container-fluid gap">
<div class="social-widget">
<ul>
<li><a href="https://www.facebook.com/webcreationnepal" target="_blank"> <i class="fab fa-facebook-f"></i> </a></li>
<li><a href="https://twitter.com/webcreatnepal" target="_blank"> <i class="fab fa-twitter"></i> </a></li>
<li><a href="#"> <i class="fab fa-google"></i> </a></li>
<li><a href="https://www.linkedin.com/in/webcreationnepal/" target="_blank"> <i class="fab fa-linkedin-in"></i> </a></li>
</ul>
</div>
<div class="cpy-rit">
<p>Copyright © 2022 Web Creation Nepal. All Rights Reserved.</p>
</div>
</div>
</footer>
<div id="mySidenav" class="sidenav">
<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<a href="index-2.html" title="Web Creation Nepal"><i class="fas fa-home"></i> &nbsp;&nbsp;Home</a>
<a href="about.html" title="About us"><i class="fas fa-user"></i> &nbsp;&nbsp;About us</a>
<a href="services.html" title="Services"><i class="fas fa-cogs"></i> &nbsp;&nbsp;Services</a>
<a href="web-design-portfolio-nepal.html" title="Portfolio"><i class="fab fa-algolia"></i> &nbsp;&nbsp;Portfolio</a>
<a href="sectors.html" title="Sectors"><i class="fas fa-adjust"></i> &nbsp;&nbsp;Sectors</a>
<a href="vacancy.html" title="Career"><i class="fas fa-sign-in-alt"></i> &nbsp;&nbsp;Career</a>
<a href="special-offer-packages.html" title="Price"><i class="fas fa-tag"></i> &nbsp;&nbsp;Packages</a>
<a href="http://blog.webcreationnepal.com/" title="Blog" target="_blank"><i class="fab fa-blogger"></i> &nbsp;&nbsp;Blog</a>
<a href="http://client.webcreationnepal.com/" title="Support" target="_blank"><i class="fas fa-question-circle"></i> &nbsp;&nbsp;Support</a>
<a href="contact.html" title="Contact us"><i class="fas fa-address-book"></i> &nbsp;&nbsp;Contact us</a>
</div>
<script data-cfasync="false" src="/static/js/email-decode.min.js"></script><script src="/static/js/vendor/jquery.min.js"></script>
<script src="/static/js/vendor/bootstrap.min.js"></script>
<script src="/static/js/vendor/wow.min.js"></script>
<script src="/static/js/script.js"></script>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v4.0'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = '../connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-customerchat" attribution="setup_tool" page_id="226064034091525" theme_color="#085b8f" logged_in_greeting="Namaste! How can we help you?" logged_out_greeting="Namaste! How can we help you?">
</div>
<script src="../www.google.com/recaptcha/api.js"></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v2cb3a2ab87c5498db5ce7e6608cf55231689030342039" integrity="sha512-DI3rPuZDcpH/mSGyN22erN5QFnhl760f50/te7FTIYxodEF8jJnSFnfnmG/c+osmIQemvUrnBtxnMpNdzvx1/g==" data-cf-beacon='{"rayId":"7e9da6b2ef891942","version":"2023.4.0","r":1,"b":1,"token":"824f28a8ab0c41faa3b745d14ee614fd","si":100}' crossorigin="anonymous"></script>
</body>
</html>
