<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Vacancy Announcement - Web Creation Nepal</title>
<meta name="keywords" content="Web Designer Vacancy in Nepal, PHP Programmer vacancy, vacancy in IT Company, Job placement in IT Company, Internship in IT Company" />
<meta name="description" content="Vacancy Announcement, A highly Reputed It Company announces vacancy for following positions." />
<meta name="verify-v1" content="ypULqETnreCzYO2WrIFJf_TgnSx_f1-HWJ3KbZ8eFew" />
<meta name="author" content="Web Creation Nepal" />
<meta name="company-Email" content="info@webcreationnepal.com" />
<meta name="copyright" content="2022 Web Creation Nepal" />
<meta name="coverage" content="Worldwide" />
<link rel="shortcut icon" href="/static/images/icon.png" />
<meta name="revisit_after" content="30 days" />
<meta name="identifier" content="index.html" />
<meta name="language" content="English" />
<meta name="robots" content="follow" />
<meta name="googlebot" content="index, follow" />
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/fontawesome-all.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/animate.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<script type="application/ld+json">{"@context":"http://schema.org","@type":"Blog","url":"http://blog.webcreationnepal.com"}</script><script type="application/ld+json">{"@context":"http://schema.org","@type":"Organization","name":"Web Creation Nepal Pvt. Ltd.","url":"https://www.webcreationnepal.com","sameAs":["https://www.facebook.com/webcreationnepal","https://twitter.com/webcreatnepal","https://www.linkedin.com/in/webcreationnepal/","https://www.instagram.com/webcreationinfo/","https://foursquare.com/user/99408348"], "aggregateRating": {"@type":"AggregateRating","ratingValue": "90","bestRating": "100","ratingCount": "120"}}</script>
</head>
<body>
<header>
<div class="container-fluid gap">
<div class="row">
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="logo"> <a href="index-2.html"><img src="/static/images/logo.png" alt="Web Creation Nepal" /></a> </div>
</div>
<div class="col-xs-8 col-sm-8 col-md-8">
<div class="contact-info clearfix">
<ul>
<li>
<div class="icon-hd"><img src="/static/images/icons/phone.png" alt="Phone" /></div>
<div class="cont-hd">Phone Support<span><a href="tel:+9779851029233">977-01-5343968 / 9851029233</a></span></div>
</li>
<li class="hidden-xs">
<div class="icon-hd"><img src="/static/images/icons/time.png" alt="Opening Time" /></div>
<div class="cont-hd">09.00 - 06.00<span>Sunday to Friday</span></div>
</li>
<li>
<div class="icon-hd"><img src="/static/images/icons/email.png" alt="Email" /></div>
<div class="cont-hd">Email Support<span><a href="cdn-cgi/l/email-protection.html#f0939f9e84919384b08795929382959184999f9e9e9580919cde939f9d"><span class="__cf_email__" data-cfemail="65060a0b110406112512000706170004110c0a0b0b001504094b060a08">[email&#160;protected]</span></a></span></div>
</li>
</ul>
</div>
</div>
<div class="col-xs-1 col-sm-1 col-md-1">
<div class="nav-side">
<span onclick="openNav()"><i class="fas fa-bars"></i></span>
</div>
</div>
</div>
<div class="mbl-view"><i class="fas fa-phone-volume"></i>&nbsp;&nbsp;<a href="tel:+9779851029233">+977 9851029233</a></div>
</div>
</header>
<div class="banner"> <img src="/static/images/banner/service-banner.jpg" alt="slide-1" /> </div>
<section class="career-grid wow fadeInLeft">
<div class="container-fluid gap">
<div class="title-career">
<h1>Are you looking for a great career opportunity?</h1>
<p>We have some excellent openings for aspiring individuals who think that they have got the potential and skills that can be combined to bombard the ongoing revolution in the IT industry and across the digital marketing sector. </p>
<p><b>Our philosophy is simple, we believe in everything we do.</b></p></div>
<div class="career-bx">
<div class="row">
<div class="col-sm-1 col-md-1"> <a href="#">
<div class="job-img"> <img src="/static/images/icons/flutter.png" alt="Flutter" /> </div>
</a> </div>
<div class="col-sm-5 col-md-5">
<div class="postion-info">
<div class="postion-title">Flutter Developer </div>
<div class="experience"> 1 year of work experience </div>
</div>
</div>
<div class="col-sm-3 col-md-4">
<div class="job-title"> Min. 1-year working experience in Mobile App Development and at least 6 months of experience in Flutter App Development.</div>
</div>
<div class="col-sm-3 col-md-2">
<div class="btn-block"><a href="contact.html" class="btn btn-site btn-career">Apply Now</a></div>
</div>
</div>
</div>
<div class="career-bx">
<div class="row">
<div class="col-sm-1 col-md-1"> <a href="#">
<div class="job-img"> <img src="/static/images/icons/wd.png" alt /> </div>
</a> </div>
<div class="col-sm-5 col-md-5">
<div class="postion-info">
<div class="postion-title"> Digital Marketing Instructor </div>
<div class="experience"> 2 year of work experience </div>
</div>
</div>
<div class="col-sm-3 col-md-4">
<div class="job-title"> Digital Marketing Fundamentals, Website planning, SEO, SEM, SMM, Affiliate Marketing </div>
</div>
<div class="col-sm-3 col-md-2">
<div class="btn-block"><a href="contact.html" class="btn btn-site btn-career">Apply Now</a></div>
</div>
</div>
</div>
<div class="career-bx">
<div class="row">
<div class="col-sm-1 col-md-1"> <a href="contact.html">
<div class="job-img"> <img src="/static/images/icons/wd.png" alt="Web Creation Vacancy" /> </div>
</a> </div>
<div class="col-sm-5 col-md-5">
<div class="postion-info">
<div class="postion-title"> Senior WordPress Developer </div>
<div class="experience"> 3 year of work experience </div>
</div>
</div>
<div class="col-sm-3 col-md-4">
<div class="job-title"> Programmer </div>
</div>
<div class="col-sm-3 col-md-2">
<div class="btn-block"><a href="contact.html" class="btn btn-site btn-career">Apply Now</a></div>
</div>
</div>
</div>
<div class="career-bx">
<div class="row">
<div class="col-sm-1 col-md-1"> <a href="contact.html">
<div class="job-img"> <img src="/static/images/icons/wd.png" alt="Web Creation Vacancy" /> </div>
</a> </div>
<div class="col-sm-5 col-md-5">
<div class="postion-info">
<div class="postion-title"> PHP Developer</div>
<div class="experience"> 1.5 year of work experience </div>
</div>
</div>
<div class="col-sm-3 col-md-4">
<div class="job-title"> Developer </div>
</div>
<div class="col-sm-3 col-md-2">
<div class="btn-block"><a href="contact.html" class="btn btn-site btn-career">Apply Now</a></div>
</div>
</div>
</div>
<div class="career-bx">
<div class="row">
<div class="col-sm-1 col-md-1"> <a href="contact.html">
<div class="job-img"> <img src="/static/images/icons/wd.png" alt="Web Creation Vacancy" /> </div>
</a> </div>
<div class="col-sm-5 col-md-5">
<div class="postion-info">
<div class="postion-title"> Project Manager </div>
<div class="experience"> 1 year of work experience </div>
</div>
</div>
<div class="col-sm-3 col-md-4">
<div class="job-title">Project Manager </div>
</div>
<div class="col-sm-3 col-md-2">
<div class="btn-block"><a href="contact.html" class="btn btn-site btn-career">Apply Now</a></div>
</div>
</div>
</div>
<div class="career-bx">
<div class="row">
<div class="col-sm-1 col-md-1"> <a href="contact.html">
<div class="job-img"> <img src="/static/images/icons/wd.png" alt="Web Creation Vacancy" /> </div>
</a> </div>
<div class="col-sm-5 col-md-5">
<div class="postion-info">
<div class="postion-title"> Web Project Manager </div>
<div class="experience"> 1 year of work experience </div>
</div>
</div>
<div class="col-sm-3 col-md-4">
<div class="job-title"> Web Designer </div>
</div>
<div class="col-sm-3 col-md-2">
<div class="btn-block"><a href="contact.html" class="btn btn-site btn-career">Apply Now</a></div>
</div>
</div>
</div>
</div>
</section>
<div class="contact-wrapper common-gap">
<div class="container-fluid gap">
<div class="site-title">
<h6 class="recentwork"><span>Request A</span> Quote</h6>
</div>
<p class="title recentwork">If you like the price you get, just call us or email us and we'll discuss things in more detail.</P>
<div class="seprator-title"></div>
<div class="row">
<div class="col-sm-7 col-md-8 wow fadeInLeft">
<div class="contact-form mt-30">
<form action="https://www.webcreationnepal.com/process-contact.php" method="POST">
<div class="row">
<div class="col-sm-6 col-md-6 col-50">
<input type="text" name="name" placeholder="Your Name" required>
</div>
<div class="col-sm-6 col-md-6 col-50">
<input type="email" name="email" placeholder="Email" required>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-md-6 col-50">
<input type="number" name="Phone" placeholder="Phone" required>
</div>
<div class="col-sm-6 col-md-6 col-50">
<input type="text" name="Address" placeholder="Address" required>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-md-6 col-50">
<select id="exampleFormControlSelect1" name="service">
<option>Services</option>
<option value="Website Designing">Web Design & Development </option>
<option value="E-Commerce Solution">E-Commerce Solution</option>
<option value="Mobile Apps Development">Mobile Apps Development</option>
<option value="Digital Marketing">Digital Marketing</option>
<option value="Business Branding">Business Branding</option>
</select>
</div>
<div class="col-sm-6 col-md-6 col-50">
<select id="exampleFormControlSelect2" name="budget">
<option>Budget</option>
<option value="Rs.9,999 - Rs.49,999">Rs.9,999 - Rs.49,999 </option>
<option value="Rs.50,000 - Rs.99,999">Rs.50,000 - Rs.99,999 </option>
<option value="Rs.100,000 - Rs.299,99">Rs.100,000 - Rs.299,999</option>
<option value="Rs.300,000 - Rs.499,999">Rs.300,000 - Rs.499,999</option>
<option value="Rs.500,000 and Above">Rs.500,000 and Above</option>
</select>
</div>
</div>
<textarea name="comment" placeholder="Your Message"></textarea>
<div class="row">
<div class="col-sm-8 col-md-8 col-50">
<div class="recaptha mt-10 clearfix">
<div id="recaptcha" class="g-recaptcha" data-sitekey="6LcE3KkUAAAAAPiSD31ufUwqS--htzaW_6-g7Sep"></div>
</div>
</div>
<div class="col-sm-4 col-md-4 col-50">
<div class="mt-30 clearfix">
<input type="submit" name="submit" class="get-quote" value="Get Quote">
</div>
</div>
</div>
</form>
</div>
</div>
<div class="col-sm-5 col-md-4 wow fadeInRight">
<div class="cnt-info mt-30">
<h2>Our Address</h2>
<span class="com-name">Web Creation Nepal Private Limited</span>
<div class="add-info mt-15"> <span><i class="far fa-envelope"></i> &nbsp;Email Address</span>
<p><a href="cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="44272b2a302527300433212627362125302d2b2a2a213425286a272b29">[email&#160;protected]</a> <br>
<a href="cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="bfc8dcd1d0d9d9d6dcdaffd8d2ded6d391dcd0d2">[email&#160;protected]</a></P>
</div>
<div class="add-info mt-15"> <span><i class="fas fa-mobile-alt"></i> &nbsp;Phone Number</span>
<p> 977-01-5343968, 5346249, 9851029233</p>
</div>
<div class="add-info mt-15"> <span><i class="fas fa-map"></i> &nbsp;Our Location</span>
<p>P.O. BOX : 21239, Bagbazar (near to old buspark) <br>
Kathmandu Nepal</P>
</div>
</div>
</div>
</div>
</div>
</div>
<section class="gap_30">
<div class="container-fluid gap">
<div class="row wow fadeInRight">
<div class="col-sm-3 col-md-3 col-50">
<div class="company-award mt-20 clearfix">
<div class="inner-box">
<div class="icon img-circle bg_blue wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms"> <span class="flaticon-icon"> <i class="far fa-lightbulb"></i> </span> </div>
</div>
<div class="award-info">
<h4>1000+ <span>PROJECT</span></h4>
</div>
</div>
</div>
<div class="col-sm-3 col-md-3 col-50">
<div class="company-award mt-20 clearfix">
<div class="inner-box">
<div class="icon img-circle bg_purple wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms"> <span class="flaticon-icon"> <i class="fas fa-calendar-alt"></i> </span> </div>
</div>
<div class="award-info">
<h4>10+ yrs <span>experience</span></h4>
</div>
</div>
</div>
<div class="col-sm-3 col-md-3 col-50">
<div class="company-award mt-20 clearfix">
<div class="inner-box">
<div class="icon img-circle bg_orange wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms"> <span class="flaticon-icon"> <i class="fas fa-users"></i> </span> </div>
</div>
<div class="award-info">
<h4>500+ <span>Customers</span></h4>
</div>
</div>
</div>
<div class="col-sm-3 col-md-3 col-50">
<div class="company-award mt-20 clearfix">
<div class="inner-box">
<div class="icon img-circle bg_bluedark wow zoomIn animated" data-wow-delay="0ms" data-wow-duration="1500ms"> <span class="flaticon-icon"> <i class="fab fa-facebook-f"></i> </span> </div>
</div>
<div class="award-info">
<h4>13522+ <span>Followers</span></h4>
</div>
</div>
</div>
</div>
</div>
</section>
<footer>
<div class="container-fluid gap">
<div class="social-widget">
<ul>
<li><a href="https://www.facebook.com/webcreationnepal" target="_blank"> <i class="fab fa-facebook-f"></i> </a></li>
<li><a href="https://twitter.com/webcreatnepal" target="_blank"> <i class="fab fa-twitter"></i> </a></li>
<li><a href="#"> <i class="fab fa-google"></i> </a></li>
<li><a href="https://www.linkedin.com/in/webcreationnepal/" target="_blank"> <i class="fab fa-linkedin-in"></i> </a></li>
</ul>
</div>
<div class="cpy-rit">
<p>Copyright © 2022 Web Creation Nepal. All Rights Reserved.</p>
</div>
</div>
</footer>
<div id="mySidenav" class="sidenav">
<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<a href="index-2.html" title="Web Creation Nepal"><i class="fas fa-home"></i> &nbsp;&nbsp;Home</a>
<a href="about.html" title="About us"><i class="fas fa-user"></i> &nbsp;&nbsp;About us</a>
<a href="services.html" title="Services"><i class="fas fa-cogs"></i> &nbsp;&nbsp;Services</a>
<a href="web-design-portfolio-nepal.html" title="Portfolio"><i class="fab fa-algolia"></i> &nbsp;&nbsp;Portfolio</a>
<a href="sectors.html" title="Sectors"><i class="fas fa-adjust"></i> &nbsp;&nbsp;Sectors</a>
<a href="vacancy.html" title="Career"><i class="fas fa-sign-in-alt"></i> &nbsp;&nbsp;Career</a>
<a href="special-offer-packages.html" title="Price"><i class="fas fa-tag"></i> &nbsp;&nbsp;Packages</a>
<a href="http://blog.webcreationnepal.com/" title="Blog" target="_blank"><i class="fab fa-blogger"></i> &nbsp;&nbsp;Blog</a>
<a href="http://client.webcreationnepal.com/" title="Support" target="_blank"><i class="fas fa-question-circle"></i> &nbsp;&nbsp;Support</a>
<a href="contact.html" title="Contact us"><i class="fas fa-address-book"></i> &nbsp;&nbsp;Contact us</a>
</div>
<script data-cfasync="false" src="/static/js/email-decode.min.js"></script><script src="/static/js/vendor/jquery.min.js"></script>
<script src="/static/js/vendor/bootstrap.min.js"></script>
<script src="/static/js/vendor/wow.min.js"></script>
<script src="/static/js/script.js"></script>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v4.0'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = '/static/js/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-customerchat" attribution="setup_tool" page_id="226064034091525" theme_color="#085b8f" logged_in_greeting="Namaste! How can we help you?" logged_out_greeting="Namaste! How can we help you?">
</div>
<script src="/static/js/api.js"></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v2cb3a2ab87c5498db5ce7e6608cf55231689030342039" integrity="sha512-DI3rPuZDcpH/mSGyN22erN5QFnhl760f50/te7FTIYxodEF8jJnSFnfnmG/c+osmIQemvUrnBtxnMpNdzvx1/g==" data-cf-beacon='{"rayId":"7e9da6d66d8d18d1","version":"2023.4.0","r":1,"b":1,"token":"824f28a8ab0c41faa3b745d14ee614fd","si":100}' crossorigin="anonymous"></script>
</body>
</html>