<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Business Portfolio - Web Creation Nepal</title>
<meta name="keywords" content="Website Portfolio Nepal, Website Portfolio in Nepal, Web Design in Nepal, Logo Portfolio, Online portfolio, website works, graphic portfolio, best website Portfolio" />
<meta name="description" content="Web creation Nepal - Static and Dynamice websites Portfolio, application Portfolio, travel website Portfolio " />
<meta name="Classification" content="web Portfolio and application  Portfolio company in nepal" />
<meta name="author" content="Web Creation Nepal" />
<meta name="company-Email" content="info@webcreationnepal.com" />
<meta name="copyright" content="2023 Web Creation Nepal" />
<meta name="coverage" content="Worldwide" />
<link rel="shortcut icon" href="/static/images/icon.png" />
<meta name="identifier" content="index.html" />
<meta name="language" content="English" />
<meta name="robots" content="follow" />
<meta name="googlebot" content="index, follow" />
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/fontawesome-all.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/animate.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<header>
<div class="container-fluid gap">
<div class="row">
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="logo"> <a href="index-2.html"><img src="/static/images/logo.png" alt="Web Creation Nepal" /></a> </div>
</div>
<div class="col-xs-8 col-sm-8 col-md-8">
<div class="contact-info clearfix">
<ul>
<li>
<div class="icon-hd"><img src="/static/images/icons/phone.png" alt="Phone" /></div>
<div class="cont-hd">Phone Support<span><a href="tel:+9779851029233">977-01-5343968 / 9851029233</a></span></div>
</li>
<li class="hidden-xs">
<div class="icon-hd"><img src="/static/images/icons/time.png" alt="Opening Time" /></div>
<div class="cont-hd">09.00 - 06.00<span>Sunday to Friday</span></div>
</li>
<li>
<div class="icon-hd"><img src="/static/images/icons/email.png" alt="Email" /></div>
<div class="cont-hd">Email Support<span><a href="cdn-cgi/l/email-protection.html#10737f7e64717364506775727362757164797f7e7e7560717c3e737f7d"><span class="__cf_email__" data-cfemail="fb9894958f9a988fbb8c9e9998899e9a8f929495959e8b9a97d5989496">[email&#160;protected]</span></a></span></div>
</li>
</ul>
</div>
</div>
<div class="col-xs-1 col-sm-1 col-md-1">
<div class="nav-side">
<span onclick="openNav()"><i class="fas fa-bars"></i></span>
</div>
</div>
</div>
<div class="mbl-view"><i class="fas fa-phone-volume"></i>&nbsp;&nbsp;<a href="tel:+9779851029233">+977 9851029233</a></div>
</div>
</header>
<div class="banner"> <img src="/static/images/banner/port_1.jpg" alt="slide-1" /> </div>
<section class="portfolio-page gap_40">
<div class="title-career">
<h1>We let our Portfolio do the talk!</h1>
<p>We have been designing, developing, branding, optimizing, and creating Website and mobile applicaction for a number of clients, belonging to various industry dimensions. Implementing the latest design ideas and innovative technologies, followed by tried-and-proven techniques, has helped us to devise cutting-edge solutions for our clients.</p>
<p><b>Our philosophy is simple, we believe in everything we do.</b></p></div>
<div class="container-fluid">
<div align="center">
<button class="filter-button filter-button_active" data-filter="all">All</button>
<button class="filter-button" data-filter="webdesign">Web Design & Development</button>
<button class="filter-button" data-filter="ecommerce">E-commerce Development</button>
<button class="filter-button" data-filter="mobileapp">Mobile App Development</button>
<button class="filter-button" data-filter="logo">Logo Design</button>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="http://www.landterminologyundp.org.np/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/undp.jpg" alt="UNDP Nepal">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">UNDP Nepal - Land Terminology</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://trichandracampus.edu.np/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/trichandra-college.jpg" alt="Trichandra Multiple Campus">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Trichandra Multiple Campus</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://hamronepalcoop.com.np/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/hamro-nepal.jpg" alt="Hamro Nepal Saving and Credit Cooperative">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Hamro Nepal Saving and Credit Cooperative</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://www.ceragemnepal.com/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/ceragemnepal.jpg" alt="Ceragem Health Care Nepal">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Ceragem Health Care Nepal</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://www.apollo.edu.np/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/apollo.jpg" alt="Apollo Int'l Education">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Apollo Int'l Education</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter ecommerce">
<div class="content mt-20"> <a href="https://the3dcrystal.com/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/the-3dcrystal.jpg" alt="The 3d Crystal">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">The 3d Crystal</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://nepalliontrekking.com/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/nepal-lion-trekking.jpg" alt="Nepal Lion Trekking">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Nepal Lion Trekking</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://safaritourkathmandu.com/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/jungle-safari.jpg" alt="Nagarjun Jamacho Jeep Safari">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Nagarjun Jamacho Jeep Safari</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter ecommerce">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/ecommerce-new.jpg" alt="Triv Mart">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Triv Mart</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://cehrd.gov.np/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/cehrd.jpg" alt="Center for Education and Human Resource Development">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Center for Education and Human Resource Development</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://www.14summit.com/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/14summit.jpg" alt="14 Summit Expedition">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">14 Summit Expedition</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://nepalliontrekking.com/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/nepal-lion-trekking.jpg" alt="Nepal Lion Trekking">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Nepal Lion Trekking</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://moonstoneproduction.com.np/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/moonlight-production.jpg" alt="Nebula Treks">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Nebula Treks</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://competitivecleaning.com.au/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/competitive-cleaning.jpg" alt="Competitive Cleaning Group">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Competitive Cleaning Group</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://northfrontiers.com/home" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/access-himalaya.jpg" alt="Access Himalaya">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Access Himalaya</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://beyondeduconsult.com/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/beyond.jpg" alt="Beyond Education & Immigration Services">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Beyond Education & Immigration Services </h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://www.hikinghimalayas.com/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/hiking-himalaya.jpg" alt="Hiking Himalayas Treks">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Hiking Himalayas Treks</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://www.rexnepal.com/marketplace" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/real-estate-exchange.jpg" alt="Real Estate Exchange">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Real Estate Exchange</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://www.sambhavya.org.np/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/sambhavya.jpg" alt="Sambhavya Foundation">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Sambhavya Foundation</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="#" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/royal-trekking.jpg" alt="Royal Tip Nepal">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Royal Tip Nepal</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://happylandtreks.com/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/happy-land-treks.jpg" alt="Happy Land Treks">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Happy Land Treks</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter ecommerce">
<div class="content mt-20"> <a href="https://www.nepalexportcompany.com/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/nepalexportcompany.jpg" alt="Perfect Exports">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Perfect Exports</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/nabula.jpg" alt="Nebula Treks">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Nebula Treks</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter ecommerce">
<div class="content mt-20"> <a href="https://www.caravanwear.com/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/cw.jpg" alt="Caravan Wear">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Caravan Wear</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="ol-md-3 col-sm-3 col-50 filter ecommerce">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/gb.jpg" alt="GB Brummell">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">GB Brummell</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/himalayan.jpg" alt="Himalayan Adventure Treks">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Himalayan Adventure Treks</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/letsew.jpg" alt="Lets Sewa">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Lets Sewa</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/nepalgovt.jpg" alt="Nepal Government">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Nepal Government</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter ecommerce">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/nepsyay.jpg" alt="Nepaustra">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Nepaustra</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://nims.org.np/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/nims.jpg" alt="Nepal Integral Mission Society">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Nepal Integral Mission Society</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/nice.jpg" alt="Nepal India Council Education">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Nepal India Council Education</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/nlr.jpg" alt="Nepal London Radio">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Nepal London Radio</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/oria.jpg" alt="Oria Education">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Oria Education</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter ecommerce">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/shopholic.jpg" alt="Shopoholic Fashion">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Shopoholic Fashion</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://www.snowydreamworld.com/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/snowya.jpg" alt="Snowy Dream Treks">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Snowy Dream Treks</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://synergy.edu.np/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/synergy-education.jpg" alt="Synergy Education">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Synergy Education</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter ecommerce">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/tay.jpg" alt="Toy Rent Ma">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Toy Rent Ma</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://travelhousenepal.com/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/travelhouse.jpg" alt="Travel House USA">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Travel House USA</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/trekkingteam.jpg" alt="Nepal Trekking Team">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Nepal Trekking Team</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/sumegh.jpg" alt="Sumegh Travel">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Sumegh Travel</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href="https://www.easternmotors.com.np/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/eastern.jpg" alt="Eastern Moters">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Eastern Moters</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter webdesign">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/jetset.jpg" alt="Jet Set Travels">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Jet Set Travels</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter ecommerce">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/onlineshopping.jpg" alt="Online Shop Nepal">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Online Shop Nepal</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter ecommerce">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/osholine.jpg" alt="Osholine LLC">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Osholine LLC</h3>
<p class="content-text">visit Website</p>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter logo">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/sasto-nepal-min.jpg" alt="Sasto Nepal Tour">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Sasto Nepal Tour</h3>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter logo">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/nepal-govt-min.jpg" alt="Nepal Gvernment">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Nepal Gvernment</h3>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter logo">
<div class="content mt-20"> <a href="http://sumeghtoursandtravels.com/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/snowy-min.jpg" alt="Snowy Dream">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Snowy Dream</h3>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter logo">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/power-khabar-min.jpg" alt="Power Khabar">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Power Khabar</h3>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter logo">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/lotus-min.jpg" alt="Lotus">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Lotus</h3>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter logo">
<div class="content mt-20"> <a href="http://niroginepal.com/en/" target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/nirogi-min.jpg" alt="Nigori Nepal">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Nigori Nepal</h3>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter logo">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/hotel-river-min.jpg" alt="Hotel River Side">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Hotel River Side</h3>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter logo">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/himalayan-aster-min.jpg" alt="Himalayan Aster Treks">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Himalayan Aster Treks</h3>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter logo">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/manakamana-rising-min.jpg" alt="Manakamana Rising Resort">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Manakamana Rising Resort</h3>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter logo">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/brothers-min.jpg" alt="Brotherhood Bar">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Brotherhood Bar</h3>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter logo">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/blive-min.jpg" alt="Blive Reality">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Blive Reality</h3>
</div>
</a> </div>
</div>
<div class="col-md-3 col-sm-3 col-50 filter logo">
<div class="content mt-20"> <a href target="_blank">
<div class="content-overlay"></div>
<img class="content-image img-responsive" src="/static/images/portfolio/global-research-min.jpg" alt="Global Research">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">Global Research</h3>
</div>
</a> </div>
</div>
</div>
</section>
<section class="gap_30">
<div class="container-fluid gab">
<div class="discuss-project text-center">
<h1>Discuss Your Project</h1>
<p>We are a team of 20+professionals, who deliver only top quality web solutions.</p>
<div class="btn-block"><a href="special-offer-packages.html" class="btn btnstart_chat quote">Special Offer</a></div>
<div class="call mt-20" style="font-size:24px;"><i class="fas fa-mobile-alt"></i>&nbsp;977-01-5343968, <span>5346249</span></div>
</div>
</div>
</section>
<div class="contact-wrapper common-gap">
<div class="container-fluid gap">
<div class="site-title">
<h6 class="recentwork"><span>Request A</span> Quote</h6>
</div>
<p class="title recentwork">If you like the price you get, just call us or email us and we'll discuss things in more detail.</P>
<div class="seprator-title"></div>
<div class="row">
<div class="col-sm-7 col-md-8 wow fadeInLeft">
<div class="contact-form mt-30">
<form action="https://www.webcreationnepal.com/process-contact.php" method="POST">
<div class="row">
<div class="col-sm-6 col-md-6 col-50">
<input type="text" name="name" placeholder="Your Name" required>
</div>
<div class="col-sm-6 col-md-6 col-50">
<input type="email" name="email" placeholder="Email" required>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-md-6 col-50">
<input type="number" name="Phone" placeholder="Phone" required>
</div>
<div class="col-sm-6 col-md-6 col-50">
<input type="text" name="Address" placeholder="Address" required>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-md-6 col-50">
<select id="exampleFormControlSelect1" name="service">
<option>Services</option>
<option value="Website Designing">Web Design & Development </option>
<option value="E-Commerce Solution">E-Commerce Solution</option>
<option value="Mobile Apps Development">Mobile Apps Development</option>
<option value="Digital Marketing">Digital Marketing</option>
<option value="Business Branding">Business Branding</option>
</select>
</div>
<div class="col-sm-6 col-md-6 col-50">
<select id="exampleFormControlSelect2" name="budget">
<option>Budget</option>
<option value="Rs.9,999 - Rs.49,999">Rs.9,999 - Rs.49,999 </option>
<option value="Rs.50,000 - Rs.99,999">Rs.50,000 - Rs.99,999 </option>
<option value="Rs.100,000 - Rs.299,99">Rs.100,000 - Rs.299,999</option>
<option value="Rs.300,000 - Rs.499,999">Rs.300,000 - Rs.499,999</option>
<option value="Rs.500,000 and Above">Rs.500,000 and Above</option>
</select>
</div>
</div>
<textarea name="comment" placeholder="Your Message"></textarea>
<div class="row">
<div class="col-sm-8 col-md-8 col-50">
<div class="recaptha mt-10 clearfix">
<div id="recaptcha" class="g-recaptcha" data-sitekey="6LcE3KkUAAAAAPiSD31ufUwqS--htzaW_6-g7Sep"></div>
</div>
</div>
<div class="col-sm-4 col-md-4 col-50">
<div class="mt-30 clearfix">
<input type="submit" name="submit" class="get-quote" value="Get Quote">
</div>
</div>
</div>
</form>
</div>
</div>
<div class="col-sm-5 col-md-4 wow fadeInRight">
<div class="cnt-info mt-30">
<h2>Our Address</h2>
<span class="com-name">Web Creation Nepal Private Limited</span>
<div class="add-info mt-15"> <span><i class="far fa-envelope"></i> &nbsp;Email Address</span>
<p><a href="cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="caa9a5a4beaba9be8abdafa8a9b8afabbea3a5a4a4afbaaba6e4a9a5a7">[email&#160;protected]</a> <br>
<a href="cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="c1b6a2afaea7a7a8a2a481a6aca0a8adefa2aeac">[email&#160;protected]</a></P>
</div>
<div class="add-info mt-15"> <span><i class="fas fa-mobile-alt"></i> &nbsp;Phone Number</span>
<p> 977-01-5343968, 5346249, 9851029233</p>
</div>
<div class="add-info mt-15"> <span><i class="fas fa-map"></i> &nbsp;Our Location</span>
<p>P.O. BOX : 21239, Bagbazar (near to old buspark) <br>
Kathmandu Nepal</P>
</div>
</div>
</div>
</div>
</div>
</div>
<footer>
<div class="container-fluid gap">
<div class="social-widget">
<ul>
<li><a href="https://www.facebook.com/webcreationnepal" target="_blank"> <i class="fab fa-facebook-f"></i> </a></li>
<li><a href="https://twitter.com/webcreatnepal" target="_blank"> <i class="fab fa-twitter"></i> </a></li>
<li><a href="#"> <i class="fab fa-google"></i> </a></li>
<li><a href="https://www.linkedin.com/in/webcreationnepal/" target="_blank"> <i class="fab fa-linkedin-in"></i> </a></li>
</ul>
</div>
<div class="cpy-rit">
<p>Copyright © 2022 Web Creation Nepal. All Rights Reserved.</p>
</div>
</div>
</footer>
<div id="fb-root"></div>
<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v4.0'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = '../connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-customerchat" attribution="setup_tool" page_id="226064034091525" theme_color="#085b8f" logged_in_greeting="Namaste! How can we help you?" logged_out_greeting="Namaste! How can we help you?">
</div>
<div id="mySidenav" class="sidenav">
<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<a href="index-2.html" title="Web Creation Nepal"><i class="fas fa-home"></i> &nbsp;&nbsp;Home</a>
<a href="about.html" title="About us"><i class="fas fa-user"></i> &nbsp;&nbsp;About us</a>
<a href="services.html" title="Services"><i class="fas fa-cogs"></i> &nbsp;&nbsp;Services</a>
<a href="web-design-portfolio-nepal.html" title="Portfolio"><i class="fab fa-algolia"></i> &nbsp;&nbsp;Portfolio</a>
<a href="sectors.html" title="Sectors"><i class="fas fa-adjust"></i> &nbsp;&nbsp;Sectors</a>
<a href="vacancy.html" title="Career"><i class="fas fa-sign-in-alt"></i> &nbsp;&nbsp;Career</a>
<a href="special-offer-packages.html" title="Price"><i class="fas fa-tag"></i> &nbsp;&nbsp;Packages</a>
<a href="http://blog.webcreationnepal.com/" title="Blog" target="_blank"><i class="fab fa-blogger"></i> &nbsp;&nbsp;Blog</a>
<a href="http://client.webcreationnepal.com/" title="Support" target="_blank"><i class="fas fa-question-circle"></i> &nbsp;&nbsp;Support</a>
<a href="contact.html" title="Contact us"><i class="fas fa-address-book"></i> &nbsp;&nbsp;Contact us</a>
</div>
<script type="application/ld+json">{"@context":"http://schema.org","@type":"Blog","url":"http://blog.webcreationnepal.com"}</script><script type="application/ld+json">{"@context":"http://schema.org","@type":"Organization","name":"Web Creation Nepal Pvt. Ltd.","url":"https://www.webcreationnepal.com","sameAs":["https://www.facebook.com/webcreationnepal","https://twitter.com/webcreatnepal","https://www.linkedin.com/in/webcreationnepal/","https://www.instagram.com/webcreationinfo/","https://foursquare.com/user/99408348"], "aggregateRating": {"@type":"AggregateRating","ratingValue": "90","bestRating": "100","ratingCount": "120"}}</script>
<script src="/static/js/vendor/jquery.min.js"></script>
<script src="/static/js/vendor/jquery.min.js"></script>
<script src="/static/js/vendor/bootstrap.min.js"></script>
<script src="/static/js/vendor/wow.min.js"></script>
<script src="/static/js/api.js"></script>
<script src="/static/js/script.js"></script>
<script>
 $(document).ready(function(){

    $(".filter-button").click(function(){
        var value = $(this).attr('data-filter');
        
        if(value == "all")
        {
            //$('.filter').removeClass('hidden');
            $('.filter').show('1000');
        }
        else
        {
//            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
//            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
            $(".filter").not('.'+value).hide('3000');
            $('.filter').filter('.'+value).show('3000');
            
        }
    });
    
    if ($(".filter-button").removeClass("active")) {
$(this).removeClass("active");
}
$(this).addClass("active");

});
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v2cb3a2ab87c5498db5ce7e6608cf55231689030342039" integrity="sha512-DI3rPuZDcpH/mSGyN22erN5QFnhl760f50/te7FTIYxodEF8jJnSFnfnmG/c+osmIQemvUrnBtxnMpNdzvx1/g==" data-cf-beacon='{"rayId":"7e9da6bae9f41942","version":"2023.4.0","r":1,"b":1,"token":"824f28a8ab0c41faa3b745d14ee614fd","si":100}' crossorigin="anonymous"></script>
</body>
</html>
