<footer>
    <div class="container">
        <div class="footer-widget">
            <div class="widget">
                <div class="widget-heading">
                    <h3>Important Link</h3>
                </div>
                <div class="widget-content">
                    <ul>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        <li><a href="{% url 'refund' %}">Refund Policy</a></li>
                        <li><a href="{% url 'terms' %}">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="widget">
                <div class="widget-heading">
                    <h3>Information</h3>
                </div>
                <div class="widget-content">
                    <ul>
                        <li><a href="{% url 'account' %}">My Account</a></li>
                        <li><a href="{% url 'orders' %}">My Orders</a></li>
                        <li><a href="{% url 'cart' %}">Cart</a></li>
                        <li><a href="{% url 'checkout' %}">Checkout</a></li>
                    </ul>
                </div>
            </div>
            <div class="widget">
                <div class="widget-heading">
                    <h3>Follow us</h3>
                </div>
                <div class="widget-content">
                    <div class="follow">
                        <ul>
                            <li><a href="#"><img src="/static/img/icons/facebook.png"></a></li>
                            <li><a href="#"><img src="/static/img/icons/twitter.png"></a></li>
                            <li><a href="#"><img src="/static/img/icons/instagram.png"></a></li>
                        </ul>
                    </div>						
                </div>
                <div class="widget-heading">
                    <h3>Subscribe for Newsletter</h3>
                </div>
                <div class="widget-content">
                    <div class="subscribe">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subscribe" placeholder="Email">
                                <img src="/static/img/icons/paper_plane.png">
                            </div>
                        </form>
                    </div>						
                </div>
            </div>
        </div> <!-- Footer Widget -->
        <div class="footer-bar">
            <div class="copyright-text">
                <p>Copyright 2021 - All Rights Reserved</p>
            </div>
            <div class="payment-mode">
                <img src="/static/img/icons/paper_money.png">
                <img src="/static/img/icons/visa.png">
                <img src="/static/img/icons/mastercard.png">
            </div>
        </div> <!-- Footer Bar -->
    </div>
</footer> 