<!DOCTYPE html>
<html lang="en">

 	<head>
 		<!-- Meta Tags -->
		<meta charset="UTF-8">
		<meta name="author" content="Kamran Mubarik">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Title -->
 		<title>E-Commerce Online Shop</title>
 		<!-- Style Sheet -->
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
		<!-- Javascript -->	
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<!-- FancyBox -->
		<link rel="stylesheet" href="/static/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
		<script type="text/javascript" src="/static/fancybox/source/jquery.fancybox.pack.js"></script>

		<!-- Optionally add helpers - button, thumbnail and/or media -->
		<link rel="stylesheet" href="/satic/fancybox/source/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />
		<script type="text/javascript" src="/satic/fancybox/source/helpers/jquery.fancybox-buttons.js"></script>
		<script type="text/javascript" src="/static/fancybox/source/helpers/jquery.fancybox-media.js"></script>

		<link rel="stylesheet" href="/static/fancybox/source/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
		<script type="text/javascript" src="/static/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>
		<script>
		$(document).ready(function(){		
			$('.fancybox').fancybox({
				openEffect  : 'none',
				closeEffect : 'none',

				prevEffect : 'none',
				nextEffect : 'none',

				closeBtn  : false,

				helpers : {
					title : {
						type : 'inside'
					},
					buttons	: {}
				},

				afterLoad : function() {
					this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
				}
			});
		});

  		</script>
 	</head>
<body>
	{% extends 'base.html'%}

	 <!-- header -->
	{% block content %}

	<div class="container">
		<main>
			<div class="breadcrumb">
				<ul>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li> / </li>
					<li><a href="{% url 'shop' %}">Shop</a></li>
					<li> / </li>
					<li><a href="{% url 'product' %}">Product</a></li>
				</ul>
			</div> <!-- End of Breadcrumb-->

			<div class="single-product">
				<div class="images-section">
					<div class="larg-img">
						<img src="/static/img/product/img1.jpg">
					</div>
					<div class="small-img">
						<a class="fancybox" rel="group" href="/static/img/product/img2.jpg">
							<img src="/static/img/product/img2.jpg">
						</a>
						<a class="fancybox" rel="group" href="/static/img/product/img3.jpg">
							<img src="/static/img/product/img3.jpg">
						</a>
						<a class="fancybox" rel="group" href="/static/img/product/img4.jpg">
							<img src="/static/img/product/img4.jpg">
						</a>
						<a class="fancybox" rel="group" href="/static/img/product/img5.jpg">
							<img src="/static/img/product/img5.jpg">
						</a>
					</div>
				</div> <!-- End of Images Section-->

				<div class="product-detail">
					<div class="product-name">
						<h2>Product Name</h2>
					</div>
					<div class="product-price">
						<h3>Rs.4,500/-</h3>
					</div>
					<hr>
					<div class="product-description">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in leo leo. Donec aliquet mauris ac consequat ornare. Pellentesque eget leo tempor, venenatis mauris sed, viverra ante. Donec tincidunt mauris vel tincidunt ultricies. Sed sed libero hendrerit elit gravida vulputate.</p>
					</div>
					<hr>
					<div class="product-cart">
						<form id="cart-form">
							<div class="form-group">
								<input type="number" class="cart-number" name="cartNumber" value="1" min="1" max="10">
								<input type="submit" name="addToCart" value="Add To Cart">
							</div>
						</form>
						<form id="wishlist-form">
							<div class="form-group">
								<input type="checkbox" class="wishlist" name="wishlist"> Add To Wishlist
							</div>
						</form>
					</div>
					<hr>
					<div class="product-meta">
						<p><b>Category: </b> Product</p>
						<p><b>Share This Product: </b> Facebook, Twitter</p>
					</div>
				</div> <!-- End of Product Detail-->
			</div>
			<hr>
			<div class="product-long-description">
				<h3>Product Description</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in leo leo. Donec aliquet mauris ac consequat ornare. Pellentesque eget leo tempor, venenatis mauris sed, viverra ante. Donec tincidunt mauris vel tincidunt ultricies. Sed sed libero hendrerit elit gravida vulputate. 
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in leo leo. Donec aliquet mauris ac consequat ornare. Pellentesque eget leo tempor, venenatis mauris sed, viverra ante. Donec tincidunt mauris vel tincidunt ultricies. Sed sed libero hendrerit elit gravida vulputate. 
				</p>
			</div>
			<hr>
			<div class="new-product-section">
				<div class="product-section-heading">
					<h2>Recommend Products <img src="/static/img/icons/good_quality.png"></h2>
					<h3>OUR BEST PRODUCTS RECOMMENDED FOR YOU</h3>
				</div>
				<div class="product-content">
					<div class="product">
						<a href="{% url 'product' %}">
							<img src="/static/img/product/img1.jpg">
						</a>
						<div class="product-detail">
							<h3>Men's / Watches</h3>
							<h2>Gray Color Men's Watch</h2>
							<a href="#">Add to Cart</a>
							<p>Rs.4500/-</p>
						</div>						
					</div>
					<div class="product">
						<a href="{% url 'product' %}">
							<img src="/static/img/product/img2.jpg">
						</a>
						<div class="product-detail">
							<h3>Men's / Pants</h3>
							<h2>Levi's Jeans Pant</h2>
							<a href="#">Add to Cart</a>
							<p>Rs.2000/-</p>
						</div>
					</div>
					<div class="product">
						<a href="{% url 'product' %}">
							<img src="/static/img/product/img3.jpg">
						</a>
						<div class="product-detail">
							<h3>Men's / Watches</h3>
							<h2>Black Men's Watch</h2>
							<a href="#">Add to Cart</a>
							<p>Rs.4000/-</p>
						</div>
					</div>
					<div class="product">
						<a href="{% url 'product' %}">
							<img src="/static/img/product/img4.jpg">
						</a>
						<div class="product-detail">
							<h3>Men's / Shoes</h3>
							<h2>Nick Black Sneakers</h2>
							<a href="#">Add to Cart</a>
							<p>Rs.3200/-</p>
						</div>
					</div>
				</div>
			</div> <!-- Recommend Product Section -->
		</main> <!-- Main Area -->
	</div>

	{% endblock %}
	<!-- Footer Area -->

</body>

</html>